@import '../themes/animation.scss';
@import '../themes/common-variables.scss';
@import '../themes/media-queries.scss';
@import '../themes/font-mixins.scss';
@import '../themes/centering.scss';

.placeholder {
    .base-ph {
        background-color: $loading-placeholder;
        box-shadow: $box-glow;
        opacity: 0.9;
    }

    .leading-img {
      width: 80%;
      margin: 0 auto;
    }

    .ph-title-1 {
        @extend .base-ph;
        height: 1.8rem;
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.7rem;
    }
    .ph-title-2 {
        @extend .base-ph;
        height: 1.8rem;
        width: 60%;
        margin-bottom: 1.5rem;
    }
    .ph-author {
        @extend .base-ph;
        height: 1rem;
        width: 38%;
    }
    .ph-image {
        @extend .base-ph;
        width: 100%;
        height: rem(370px);
        position:relative;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .ph-content {
        @extend .base-ph;
        height: 1rem;
        width: 100%;
        margin-bottom: 1rem;
    }
    .ph-content-last {
        @extend .base-ph;
        height: 1rem;
        width: 70%;
        margin-bottom: 1rem;
    }

    @include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
        .title-row {
            width: $tablet-small-width;
        }
    }
    
    // desktop. wait for spec
    @include mq($min-width: $screen-md-min) {
        .title-row {
            width: $desktop-small-width;
        }
    }
}

.logo-icon {
  @extend .ab-center-by-transform;
}
