.effect-enter {
  opacity: 0.01;
}

.effect-enter.effect-enter-active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.effect-leave {
  opacity: 1;
}

.effect-leave.effect-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease;
}
