@import "../themes/common-variables.scss";
@import '../themes/media-queries.scss';

.index-promotion {
  max-width: 970px;
  margin: 60px auto;
  height: 250px;
}

.annual-report {
  font-size: 24px;
  font-weight: $font-weight-bold;
  position: relative;
  text-align: center;
  
  &::after {
    content: '';
    width: 147px;
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid;
  }
}

// === Mobile ===
@include mq($max-width: $screen-xs-max) {
  .annual-report {
    font-size: $font-size-base;
    margin-top: 55px;
  }
  .index-promotion {
    height: 150px;
    margin: 55px auto;
    margin-bottom: 35px;
  }
}

// === tablet ===
@include mq($min-width: $screen-tablet, $max-width: $screen-desktop) {
  .annual-report {
    font-size: $font-size-base;
  }
  .index-promotion {
    height: 150px;
    margin: 55px auto;
    margin-bottom: 35px;
  }
}

