@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);


.header {
    display: inline;
}

.body {
    width: 100%
}

a:link {
    color: #101010;
    text-decoration: none;
}

a:visited {
    color: #101010;
    text-decoration: none;
}

a:hover {
    color: #101010;
    text-decoration: none;
}

menu {
    display: block;
    margini-top: 10px;
    align: center;
    width: 40%;
}

.menu-item {
    display: inline;
    padding: 15px 15px 15px 15px;
}
