.fixTop {
  position: fixed;
  width: 100%;
  z-index: 500;
}

.mobile-nav {
  display: none;
}

.nav-logo-category {
  height: 68px;
}

.nav-logo {
  margin-left: 50px;
  padding-top: 9px;
}

.nav-logo img {
  height: 50px;
  width: auto;
  vertical-align: middle;
}

.nav-category {
  display: inline-block;
  margin-left: 85px;
}

.menu-items {
  vertical-align: middle;
}
.menu-item {
  color: #000;
  display: inline;
  font-size: 16px;
  font-weight: 600;
  margin-right: 40px;
  transition: border 0.3s ease-in;
}
.menu-item h1 {
  display: inline-block;
  font-size: 16px;
}

.selected-menu-item {
  border-bottom: solid 2px;
  padding-bottom : 5px;
}

.searchbox {
  position: absolute;
  right: 20px;
  top: 5px;
}

@media
only screen
and (max-width: 1100px),
only screen
and (max-device-width : 1100px) {
  .nav-category {
    margin-left: 20px;
  }
}

@media
only screen
and (max-width: 1035px),
only screen
and (max-device-width : 1035px) {
  .nav-logo-category {
    height: 130px;
  }
  .nav-category {
    display: block;
    text-align: center;
    margin-left: 20px;
  }
}

@media
only screen
and (max-width: 768px),
only screen
and (max-device-width : 768px) {
  .mobile-nav {
    display: block;
    position: relative;
  }
  .desktop-nav {
    display: none;
  }
  .searchbox {
    display: none;
  }
}

.gsc-control-cse {
  border: none !important;
  background-color: transparent !important;
}
