@media
only screen
and (max-device-width: 768px),
only screen
and (max-width: 768px){
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 15px;
    top: 15px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }

  /* Background color of sidebar */
  .bm-menu {
    background: #373a47;
  }

  /* General menu styles */
  .bm-menu {
    padding: 1.5em 0 0 1em;
    font-size: 1.2em;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  .bm-item-list a {
    display: block;
    outline: none;
   }
  .bm-item-list a {
    padding: 0.8em;
  }
  .bm-item-list a span {
    margin-left: 10px;
    font-weight: 700;
    color: white;
  }
  .bm-burger-bars {
    background: #373a47;
  }
  .bm-menu {
    background: #373a47;
  }
}
