@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../themes/centering.scss';
@import '../themes/common-variables.scss';

$red-line-distance: 40px;
$cards-width: 960px;
$card-width: 300px;
$image-card-height: 200px;
$text-card-height: 200px;

.topic-page-conainer {
  position: relative;
  border: 1px solid black;
}

.theme-changer {
  z-index: 20;
  position: fixed;
  display: inline-block;
  top: 30%;
  left: 70%;
}

.leading-block {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.video {
  @extend .ab-center-by-transform;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: relative;
  width: 100%;
  padding-top: 72px;
  padding-bottom: 40px; 
}

.topic-description {
  position: relative;
  width: 38rem;
  max-width: 90%;
  
  padding-bottom: $red-line-distance;
  
  font-size: $font-size-base;
  white-space: pre-wrap;
  line-height: $line-height-large;
  color: $gray-15;

  p {
    margin-bottom: 1.5em;
  }

  /* horizontal rule */
  &::after { 
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    margin: auto;
    border-top: 2px solid $rusty-red;
  }
}

.team-description {
  width: 38rem;
  max-width: 90%;
  font-size: $font-size-small;
  color: $gray-50;
  line-height: $line-height-large;
  margin-top: 40px;
  p {
    white-space: pre-wrap;
  }
}
