{
  "extends": "rackt",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "no-multiple-empty-lines": [1, {"max": 5}]
  },
  "plugins": [
    "babel",
    "react"
  ]
}
