**/node_modules/*
**/static/*
spec/src/actions/mocks/*
karma.conf.js
webpack/*
bin/server.js
bin/api.js
server.babel.js
src/components/webpack.config.js
src/components/concatCssFiles.js
src/components/lib/*
