{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "plugin:react/recommended",
    "plugin:import/recommended",
    "plugin:import/react",
    "plugin:react-hooks/recommended",
    "prettier",
    "prettier/babel",
    "prettier/react",
    "prettier/standard"
  ],
  "plugins": [
    "babel"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}