.DS_Store

bundle.js
node_modules/
static/main.js
static/main.css
static/dist

.jshintignore
.jshintrc
npm-debug.log*
err.log
api-err.log

.idea/
.vscode/
webpack-assets.json

# Ignore generated pm2 config file
processes.json

# Ignore webpack generated service worker file
sw.js

# Ignore config files
api/config.js

# Ignore transpiled files
dist/

yarn-error.log

pm2-*.log
