bundle.js
node_modules/
static/main.js
static/main.css
static/dist

.jshintignore
.jshintrc
npm-debug.log
err.log

.idea/
.vscode/
webpack-assets.json

# Ignore config files
api/config.js

# Ignore transpiled files
dist/
