.container {
  position: relative;
}

.video {
  display: block;
  width: 100%;
}

.poster {
  @extend .video;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
}

.audio-bt {
  width: 30px;
  height: auto;
  position: absolute;
  bottom: 5%;
  right: 5%;
  cursor: pointer;
  background-color: black;
  border-radius: 30px;
}
