.container {
  position: relative;
}

.video {
  display: block;
  width: 100%;
}

.poster {
  @extend .video;
}

.audio-bt {
  width: 30px;
  height: auto;
  position: absolute;
  bottom: 5%;
  left: 5%;
  cursor: pointer;
  background-color: black;
  border-radius: 30px;
}
