@import '../../themes/font-mixins.scss';

.bt {
    border: none;
    background: none;
    margin-right: rem(15px);
    cursor: pointer;
    outline: none;
    img {
      width: 100%;
      height: auto;
    }
}
