# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-node_modules

# sources
.babelrc
.gitignore
.bootstraprc
webpack.config.js
README.md
CHANGELOG.md
node_modules/

# NPM debug
npm-debug.log
