@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables.scss';
@import '../../themes/media-queries.scss';
@import '../../themes/font-mixins.scss';

.audio-container {
  $speed: .5s;

  background-color: $white;

  &.mobile {
    width: 100%;
  }

  .audio-coverphoto {
    position: relative;
    width: 100%;
    
    .enter {
      opacity: .25;
      &.enterActive {
        opacity: 1;
        transition: opacity .6s ease-in;
      }
    }

    .leave {
      opacity: 1;
      &.leaveActive {
        opacity: 0.01;
        transition: opacity .6s ease-in-out;
      }
    }

    .appear {
      opacity: 0.01;
      &.appearActive {
        opacity: 1;
        transition: opacity .6s ease-in-out;
      }
    }

    .audio-img-filter {
      opacity: .25;
      transition: opacity 1s linear;
    }

    .audio-duration-block {
      width: rem(50px);
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: rem(15px);
      color: $white;
      background-color: $gray-15;
      text-align: center;
    }

    .audio-slider {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .audio-time-display {
        width: rem(50px);
        font-size: rem(15px);
        text-align: center;
      }
    }
  }
  
  .audio-info-container {
    padding: rem(28px) rem(24px) rem(24px) rem(24px);

    >h4 {
      font-size: rem(20px);
      color: $gray-15;
      text-align: center;
      line-height: 1.2;
      font-weight: bold;
      margin-bottom: rem(24px);
    }

    p {
      font-size: rem(15px);
      line-height: 1.5;
      color: $gray-50;
      // reset margin 
      margin: 0;
    }
  }
}

@include mq($max-width: $screen-xs-max) {
  .audio-container {
    width: 100vw;
  }
}
