@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import "../../themes/media-queries.scss";
@import "../../themes/common-variables.scss";

.align-wrapper {
  margin-bottom: $twreporter-line-height;
}

.mobile {
  width: 100%;
  float: none;
}

.align-extend {
  @extend .align-wrapper;
  /* TBD needs to wait for mockup */
  max-width: 100vw;
}

.align-left {
  @extend .align-wrapper;
  /* TBD needs to wait for mockup */
  width: 300px;
  float: left;
  margin-right: 40px;
}

.align-right {
  @extend .align-wrapper;
  /* TBD needs to wait for mockup */
  width: 300px;
  float: right;
  margin-left: 40px;
}

.align-center {
  width: 100%;
}

@include mq($max-width: $screen-sm-max) {
  .align-left, .align-right {
    width: 100%;
    float: none;
  }
}
