@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables.scss';
@import '../../themes/media-queries.scss';
@import '../../themes/font-mixins.scss';

// mobile
.components {
  .component {
    margin-bottom: $component-margin-bottom;
  }
}

// tablet
@include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
  .components {
    .component {
      margin-left: auto;
      margin-right: auto;
      width: $tablet-small-width;
      &.image, &.imageDiff, &.slideshow, &.embeddedCode, &.youtube {
        width: $tablet-medium-width;
      }
    }
  }
}

// desktop. wait for spec
@include mq($min-width: $screen-md-min) {
  .components {
    .component {
      margin-left: auto;
      margin-right: auto;
      width: $desktop-small-width;
      &.image, &.imageDiff, &.slideshow, &.embeddedCode, &.youtube {
        width: $desktop-medium-width;
      }
    }
  }
}
