@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/media-queries.scss';
@import '../../themes/common-variables.scss';
@import '../../themes/font-mixins.scss';

.bottomRelatedsWrapper {
  margin: 3rem 0;
}

.relatedItem {
  width: 100%;
  vertical-align: middle;
  background-color: $white;
  margin: rem(16px) 0;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0px 3px 8px 0px rgba($gray-40, 0.5);
  }
}

.relatedItem:last-of-type {
  border-right: 0;
}

.relatedItem:before,
.relatedItem:after {
  content: " ";
  display: table;
  clear: both;
}

.relatedAnchor {
  display: inline-block;
  margin: 0;
}

.relatedImg {
  float: left;
}

.relatedContent {
  text-align: left;
  margin: 25px 0 25px 205px;
}

.relatedAlignHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.relatedTitle {
  vertical-align: middle;
  display: inline-block;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}

@include mq($max-width: $screen-xs-max) {
  .bottomRelateds {
    margin: 0.8em 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
  }

  .relatedItem {
    border-right: 0;
    margin: rem(10px) 0;
    padding: 0 15px;
    width: 100%;
  }

  .relatedItem:last-of-type {
    border-right: 0;

    .relatedAnchor {
      border-bottom: 0;
    }
  }

  .relatedAnchor {
    width: 100%;
  }

  .relatedImg {
    margin: 20px 20px 20px 0;
  }

  .relatedContent {
    margin: 20px 0 20px 200px;
  }
}
