@import '../../themes/common-variables';

.bottomAuthor {
  padding: 4em 0;
  border-top: 2px solid $gray-border-color;
  margin-top: 3.8em;
}

.authorRow {
  margin-bottom: 5rem;
}

.bioText {
  p {
    display: inline;
    padding-right: 0.5rem;
  }
}

.authorName {
  padding: 0 0.3em;
}
