@import '../../themes/common-variables';

$red: $harley-davidson-orange;

.keywordList {
  list-style: none;
  margin-top: 3rem;
  text-align: center;

  li {
    display: inline-block;
    margin: 0.15rem 0.35rem 0.5rem 0.35rem;
    text-decoration: none;
    border-radius: 62rem;
    border: 2px solid $red;
    color: $red;
    padding: 0.2rem 1rem;
    transition: all 0.3s ease-in-out;
    font-size: $font-size-xsmall;

    &:hover {
      background-color: $red;
      color: $white;
    }
  }
}
