@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables.scss';
@import '../../themes/media-queries.scss';
@import '../../themes/font-mixins.scss';

$red: $harley-davidson-orange;
$inner-block-margin: 24px;

// mobile
// inner component block
.inner-block {
  margin: 0 rem($inner-block-margin) 0 rem($inner-block-margin);
}

.disable-inner-block {
  margin: 0 rem(-$inner-block-margin) 0 rem(-$inner-block-margin);
}

// Text
.text-color {
  color: $gray-15;
}

.desc-text-color {
  color: $gray-50;
}

.desc-text-block {
  @extend .desc-text-color;
  font-size: 15px;
  line-height: 1.5;
}

.text-link {
  border-bottom: 2px solid;
  border-color: $red;
}

// tablet
@include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
  .inner-block {
    display: block;
    margin: 0 auto;
  }

  .disable-inner-block {
    margin: 0;
  }
}

// desktop. wait for spec
@include mq($min-width: $screen-md-min) {
}
