@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables.scss';
@import '../../themes/media-queries.scss';
@import '../../themes/font-mixins.scss';
@import '../../themes/animation.scss';

.image-box {
  position: relative;
  figure{
    z-index: 100;
  }

  figure > img {
    @include fade-in(0.3s);
    transform: translateZ(0);
    background: $light-gray;
  }
}

.img-absolute {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.5s linear;
}

.img-placeholder-outer {
  @extend .img-absolute;
  overflow: hidden;
  z-index: -1;
  img {
    @include fade-in(0.2s);
    transform: translateZ(0);
  }
}

.img-placeholder {
  filter: blur(50px);
}


// tablet
@include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
  .img-description {
    max-width: $tablet-small-width;
  }
}

// desktop. wait for spec
@include mq($min-width: $screen-md-min) {
  .img-description {
    max-width: $desktop-small-width;
  }
}
