.infoBoxContainer {
  padding: 25px 50px 25px 50px;
  background-color: #FFF;

  h4 {
    font-size: 17px;
    color: #333533;
    font-weight: bold;
  }

  >span {
    font-size: 15px;
    color: #333533;
  }
  
}
