@import '../../themes/common-variables.scss';
@import '../../themes/font-mixins.scss';
@import '../../themes/media-queries.scss';

.infobox-container {
  $logo-width: rem(23);
  $logo-height: rem(24);
  background-color: $white;
  position: relative;
  white-space: pre-wrap;

  >svg {
      width: $logo-width;
      height: $logo-height;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: -($logo-height / 2);
  }

  .infobox-text {
    padding: rem(36) rem(24) rem(24) rem(24);
    h4 {
      font-size: em(20px);
      color: $text-color;
      line-height: 1.2;
      font-weight: bold;
      margin: 0 0 rem(23px) 0;
    }

    >div {
      font-size: em($font-size-medium);
      line-height: 1.8;
      color: $gray-50;
    }

    p {
      color: $gray-50;
    }

    a{
      color:gray !important;
    }
  }

  &.mobile {
    .infobox-text {
      @extend .infobox-text;
    }
  }
}


// tablet
@include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
}

// desktop. wait for spec
@include mq($min-width: $screen-md-min) {
}
