@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables.scss';
@import '../../themes/font-mixins.scss';
@import '../../themes/media-queries.scss';

@include mq($max-width: $screen-xs-max) {
  .infobox-text {
    h4 {
      font-size: rem(20);
      line-height: 1.2;
    }
    >div {
      font-size: rem(15);
      line-height: 1.8;
    }
  }
}

.infobox-container {
  $logo-width: rem(23);
  $logo-height: rem(24);
  background-color: $white;
  position: relative;
  >img {
      width: $logo-width;
      height: $logo-height;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: -($logo-height / 2);
  }

  .infobox-text {
    padding: rem(36) rem(24) rem(24) rem(24);
    h4 {
      color: $gray-15;
      font-weight: bold;
      margin: 0;
      text-align: center;
			margin-bottom: rem(23px)
    }

    >div {
      color: $gray-15;
      text-align: justify;
    }
  }

  &.mobile {
    .infobox-text {
      @extend .infobox-text;
    }
  }
}

