@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables.scss';
@import '../../themes/media-queries.scss';
@import '../../themes/font-mixins';

$red: $harley-davidson-orange;
$red-line-distance: 40px;

.intro-container {
  position: relative;
  font-size: $font-size-large;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: rem($red-line-distance);

  &::after {
    content: "";
    color: $red;
    width: rem(24px);
    margin: auto;
    left: 0;
    right: 0;
    bottom: rem(-$red-line-distance);
    border-top: 2px solid;
    position: absolute;
  }
}

// tablet
@include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
  $red-line-distance: 24px;

  .intro-container {
    width: $tablet-small-width;
    margin: 0 auto rem($red-line-distance) auto;

    &::after {
      bottom: rem(-$red-line-distance);
    }
  }
}

// desktop. wait for spec
@include mq($min-width: $screen-md-min) {
}
