@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables.scss';
@import '../../themes/font-mixins';

$quoteMargin: rem(25px);
$quoteTextColor: $gray-15;
$quoteWidth: rem(30px);

.introContainer {
  position: relative;
  margin-top: rem(90px);
  margin-bottom: rem(90px);
  font-size: $font-size-large;
  color: $quoteTextColor;

  >img {
    max-width: $quoteWidth;
  }
}
