@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables';
@import "../../themes/media-queries.scss";

// mobile & tablet
.leading-video {
  display: none;
}

.leading-poster {
  width: 100%;
}

// desktop & desktopHD
@include mq($min-width: $screen-md-min) {
  .leading-video {
    max-width: 100%;
    display: block;
  }
  .leading-poster {
    display: none;
  }
}
