@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables';
@import "../../themes/media-queries.scss";

.title-upon-left{
  position: relative;
}

.extended-leading-img, .leading-img, .small-leading-img {
  width: 100%;
  overflow: hidden;
  >img {
    width: 100%;
  }
}

.img-placeholder {
  filter: blur(50px);
}

// mobile
@include mq($max-width: $screen-xs-max) {
  .title-upon-left {
    > img {
      height: calc(100vh - 151px);
      object-fit: cover;
    }
  }
}

// tablet
@include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
  .extended-leading-img {
    max-width: 100%;
  }

  .leading-img {
    max-width: 672px;
    margin: 0 auto;
  }

  .small-leading-img {
    max-width: 556px;
    margin: 0 auto;
  }
}

// desktop.
@include mq($min-width: $screen-md-min, $max-width: $screen-lg-max) {
  .extended-leading-img {
    max-width: 100%;
    > img {
      object-fit: cover;
      height: 100vh;
    }
  }

  .leading-img {
    max-width: 833px;
    margin: 0 auto;
  }

  .small-leading-img {
    max-width: 664px;
    margin: 0 auto;
  }
}

// desktop HD
@include mq($min-width: $screen-hd-min) {
  .extended-leading-img {
    max-width: 100%;
    margin: 0 auto;
    > img {
      object-fit: cover;
      height: 100vh;
    }
  }

  .leading-img {
    max-width: 880px;
    margin: 0 auto;
  }

  .small-leading-img {
    max-width: 700px;
    margin: 0 auto;
  }
}
