@import '../../themes/common-variables.scss';

.list {
  list-style: none;
  counter-reset: li-counter;
  margin-left: 2.8rem;
  line-height: 1.8rem;
}
.item {
  padding-left: 0.5rem;
  &:before {
    content: counter(li-counter) ".";
    counter-increment: li-counter;
    margin-left: -2rem;
    margin-right: 1rem;
    color: $primary-color; /* Or a color you prefer */
  }
}
