@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables.scss';
@import '../../themes/media-queries.scss';
@import '../../themes/font-mixins.scss';

.paragraph {
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1.7;
}
