@import '../../themes/font-mixins.scss';

.share-bt-container {
  display: inline-block;
  .bt {
    cursor: pointer;
    border: none;
    outline: none;
    width: rem(24px);
    border: none;
    background: none;
    padding: 0;
    margin-right: rem(15px);
    display: inline-block;
    img {
      width: 100%;
      height: auto;
    }
  }
}
