@import '../../themes/common-variables.scss';

.list {
  list-style: none;
  margin-left: 2.8rem;
  line-height: 1.8rem;
}
.item {
  padding-left: 0.5rem;
  &:before {
    content: "-";
    margin-left: -1.3rem;
    margin-right: 0.95rem;
    color: $primary-color; /* Or a color you prefer */
  }
}