<!DOCTYPE html>
<html>
  <head>
      <title>報導者</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name='viewport' content='width=device-width, user-scalable=no, maximum-scale=1, initial-scale=1'/>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="Description" content=""/>
      <meta property="og:rich_attachment" content="true"/>
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="報導者－深入挖掘新聞"/>
      <meta property="og:site_name" content="報導者"/>
      <meta property="og:image" content=""/>
      <meta property="og:image:type" content="image/jpeg" />
      <meta property="og:image:width" content="960" />
      <meta property="og:image:height" content="720" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:image" content="https://twreporter.atavist.com/data/files/organization/60826/image/derivative/scale~1200x1200~12003346165-1443167067-82.jpg?1443170619" />
      <meta name="twitter:title" content="報導者－深入挖掘新聞">
      <meta name="twitter:description" content="" />
      <link rel="canonical" href="https://www.twreporter.org/"/>
      <link rel="stylesheet" type="text/css" href="/main.css">
      <!-- reset css for cross browser-->
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
      <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>
  </head>
  <body>
    <div id="root"><%- html %></div>
    <script type="text/javascript" charset="utf-8">
      window.__REDUX_STATE__ = '<%= reduxState %>';
    </script>
    <script type="text/javascript" charset="utf-8" src="/main.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ga.js"></script>
  </body>
</html>

