<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
      <title>報導者The Reporter</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta http-equiv="Cache-control" content="public">
      <meta name='viewport' content='width=device-width, user-scalable=no, maximum-scale=1, initial-scale=1'/>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
      <meta name="keywords" content="報導者,twreporter,新聞,調查報道,原創報道,深度報道,環境,議題,評論,媒體,新媒體,台灣,兩岸,文化"/>
      <meta name="description" content="報導者致力於具有手作質感的深度報導，並勇於探索網路新工具與呈現方式，重視網路的公共性與開放性，結合各種進步價值與公民力量。" data-rdm/>
      <meta property="og:rich_attachment" content="true"/>
      <meta property="og:type" content="website"/>
      <meta property="og:title" content="報導者－深入挖掘新聞" data-rdm/>
      <meta property="og:site_name" content="報導者"/>
      <meta property="og:image" content="https://www.twreporter.org/asset/logo.png" data-rdm/>
      <meta property="og:image:type" content="image/png" />
      <meta property="og:image:width" content="960" />
      <meta property="og:image:height" content="720" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:image" content="" />
      <meta name="twitter:title" content="報導者－深入挖掘新聞" data-rdm/>
      <meta name="twitter:description" content="" data-rdm/>
      <meta name="theme-color" content="#E30B20">
      <link rel="canonical" href="https://www.twreporter.org/" data-rdm/>
      <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="https://www.twreporter.org/a/rss2.xml" />
      <!-- reset css for cross browser-->
      <link rel="stylesheet" async type="text/css" href="https://www.twreporter.org/asset/reset.css">
      <!-- debug usage -->
      <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/debug.addIndicators.js"></script>-->
      <link href="/asset/favicon.png"  rel="shortcut icon" />
      <script text="text/javascript" charset="utf-8">
        (function() {
          var cx = '008042460408727773288:mvn-lce5wvo';
          var gcse = document.createElement('script');
          gcse.type = 'text/javascript';
          gcse.async = true;
          gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//cse.google.com/cse.js?cx=' + cx;
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NB59ZP"
                height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NB59ZP');</script>
        <!-- End Google Tag Manager -->
      </script>
      <%- styles %>
  </head>
  <body>
    <div id="root"><%- html %></div>
    <!-- Load Intl Polyfill -->
    <script async src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.zh-Hant-TW"></script>
    <script type="text/javascript" charset="utf-8">
      window.__REDUX_STATE__ = '<%= reduxState %>';
    </script>
    <script async type="text/javascript" charset="utf-8" src='<%- javascript %>'></script>
  </body>
</html>
