# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10
    working_directory: ~/repo
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn test
      - run: yarn build

      - run:
          name: Save pkg version to a file
          command: node ./.circleci/scripts/read-changelog.js > .pkg-version

      - run:
          name: Save SHA to a file
          command: echo $CIRCLE_SHA1 > .circle-sha

      - save_cache:
          key: v1-build-{{ checksum ".circle-sha" }}
          paths:
            - ~/repo

  deploy:
    machine:
      enabled: true
    working_directory: ~/repo
    steps:
      - run:
          name: save SHA to a file
          command: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          keys:
            - v1-build-{{ checksum ".circle-sha" }}
      - run:
          name: Install kubectl
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
            chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl

      - run:
          name: Build, push and deploy Docker image
          command: |
            echo ${GOOGLE_AUTH} | base64 -i --decode > ${HOME}/gcp-key.json
            gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            gcloud --quiet container clusters get-credentials ${GOOGLE_CLUSTER_NAME}
            export GOOGLE_APPLICATION_CREDENTIALS="${HOME}/gcp-key.json"
            export PKG_VER="$(cat .pkg-version)"
            docker build -t gcr.io/coastal-run-106202/twreporter-website-v2:$PKG_VER .
            gcloud docker -- push gcr.io/coastal-run-106202/twreporter-website-v2:$PKG_VER
            kubectl patch deployment twreporter-website-v2 -p '{"spec":{"template":{"spec":{"containers":[{"name":"twreporter-website-v2","image":"gcr.io/coastal-run-106202/twreporter-website-v2:'"$PKG_VER"'"}]}}}}'

  release:
    docker:
      - image: circleci/node:7.10
    working_directory: ~/repo
    steps:
      - run:
          name: save SHA to a file
          command: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          keys:
            - v1-build-{{ checksum ".circle-sha" }}

      # Update the release tag on git
      - run:
          name: Echo pkg version
          command: |
            export PKG_VER="$(cat .pkg-version)"
            echo $PKG_VER

      - run:
          name: Update git release tag
          command: |
            git config --global user.email "twreporter25363030@gmail.com"
            git config --global user.name "reporterdev"
            git tag -a -m "Release v$PKG_VER"


workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - deploy:
          requires:
            - release
          filters:
            branches:
              only:
                - /release-.*/
                - index-page-revamp
      - release:
          requires:
            - build
          filters:
            branches:
              only:
                - /release-.*/
                - index-page-revamp
