# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:7.10
    working_directory: ~/repo
    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn test
      - run: make build RELEASE_BRANCH=${CIRCLE_BRANCH}

      - run:
          name: Save pkg version to a file
          command: node ./.circleci/scripts/read-changelog.js > .pkg-version

      - run:
          name: Save SHA to a file
          command: echo $CIRCLE_SHA1 > .circle-sha

      - save_cache:
          key: v1-build-{{ checksum ".circle-sha" }}
          paths:
            - ~/repo

  deploy:
    machine:
      enabled: true
    working_directory: ~/repo
    steps:
      - run:
          name: save SHA to a file
          command: echo $CIRCLE_SHA1 > .circle-sha
      - restore_cache:
          keys:
            - v1-build-{{ checksum ".circle-sha" }}
      - run:
          name: Connect to container cluster
          command: |
            # GeOGLE_AUTH, GOOGLE_PROJECT_ID, GOOGLE_COMPUTE_ZONE,
            # GOOGLE_PREVIEW_CLUSTER_NAME, GOOGLE_STAGING_CLUSTER_NAME
            # and GOOGLE_CLUSTER_NAME is defined in Environment Variables of circleci project
            echo ${GOOGLE_AUTH} | base64 -i --decode > ${HOME}/gcp-key.json
            gcloud auth activate-service-account --key-file ${HOME}/gcp-key.json
            gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            gcloud --quiet config set compute/zone ${GOOGLE_COMPUTE_ZONE}
            export GOOGLE_APPLICATION_CREDENTIALS="${HOME}/gcp-key.json"
            CLUSTER_NAME=""

            if [ "${CIRCLE_BRANCH}" == "preview" ]; then
              CLUSTER_NAME=${GOOGLE_PREVIEW_CLUSTER_NAME}
            fi

            if [ "${CIRCLE_BRANCH}" == "staging" ]; then
              CLUSTER_NAME=${GOOGLE_STAGING_CLUSTER_NAME}
            fi

            if [ "${CIRCLE_BRANCH}" == "release" ]; then
              CLUSTER_NAME=${GOOGLE_CLUSTER_NAME}
            fi

            echo "CLUSTER_NAME: ${CLUSTER_NAME}"
            echo "CLUSTER_NAME=${CLUSTER_NAME}" > circle_ci_local_env
            gcloud --quiet container clusters get-credentials $CLUSTER_NAME

      - run:
          name: Install kubectl
          command: |
            source circle_ci_local_env
            echo "CLUSTER_NAME: ${CLUSTER_NAME}"
            KUBECTL_VERSION="$(gcloud container clusters describe ${CLUSTER_NAME} | sed -n 's/.*version:[ ]*\(.*\)-\(.*\)/\1/p')"
            curl -LO https://storage.googleapis.com/kubernetes-release/release/v${KUBECTL_VERSION}/bin/linux/amd64/kubectl
            chmod +x ./kubectl
            sudo mv ./kubectl /usr/local/bin/kubectl

      - run:
          name: Build, push and deploy Docker image
          command: |
            PKG_VER="$(cat .pkg-version)-$CIRCLE_BUILD_NUM"

            if [ "${CIRCLE_BRANCH}" == "release" ]; then
              PKG_VER="$(cat .pkg-version)"
            fi

            echo "PKG_VER: ${PKG_VER}"

            docker build -t gcr.io/coastal-run-106202/twreporter-website-v2:$CIRCLE_BRANCH-$PKG_VER .
            gcloud docker -- push gcr.io/coastal-run-106202/twreporter-website-v2:$CIRCLE_BRANCH-$PKG_VER
            kubectl set image deployment/twreporter-website-v2 twreporter-website-v2=gcr.io/coastal-run-106202/twreporter-website-v2:$CIRCLE_BRANCH-$PKG_VER
            kubectl rollout status deployment/twreporter-website-v2

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only:
                - release
                - staging
                - preview
