@import './Banner.scss';

$arrow-bottom-desktop: 50px - $arrow-extension;
$arrow-bottom-tablet: $arrow-bottom-desktop + 20px;
$arrow-bottom-mobile: $arrow-bottom-desktop - 20px;

/* THEME 3/3: bottom */
/* Set Elements Postioning */

// Overall & Mobile

.banner-container {}

.infos-flex-container {
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 65px;
}

.headline {
  order: 1;
  margin-bottom: 15px;
}

.published-date {
  order: 2;
  margin-bottom: 15px;
}

.dash {
  order: 3;
  margin-bottom: 15px;
}

.title {
  order: 4;
  margin-bottom: 0;
  width: 70%;
  text-align: center;
}

.subtitle {
  order: 5;
  width: 75%;
  text-align: center;
}

.arrow-down-icon-wrapper{
  @extend .ab-horizontal-center;
  bottom: $arrow-bottom-mobile;
}

// Tablet

@include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
  .infos-flex-container {
    padding-bottom: 110px;
  }
  .headline {
    margin-bottom: 25px;
  }
  .published-date {
    margin-bottom: 20px;
  }
  .dash {
    margin-bottom: 15px;
  }
  .title {
    margin-bottom: 5px;
  }
  .arrow-down-icon-wrapper{
    bottom: $arrow-bottom-tablet;
  }
}

// Desktop

@include mq($min-width: $screen-md-min) {
  .infos-flex-container {
    padding-bottom: 90px;
  }
  .headline {
    margin-bottom: 25px;
  }
  .published-date {
    margin-bottom: 20px;
  }
  .dash {
    margin-bottom: 15px;
  }
  .title {
    margin-bottom: 5px;
  }
  .arrow-down-icon-wrapper{
    bottom: $arrow-bottom-desktop;
    &:hover {
      bottom: $arrow-bottom-desktop - $arrow-hover-move-length;
    }
  }
}