@import './Banner.scss';

$arrow-bottom-desktop: 60px - $arrow-extension;
$arrow-bottom-tablet: $arrow-bottom-desktop + 20px;
$arrow-bottom-mobile: $arrow-bottom-desktop - 30px;

/* THEME 1/3: center */
/* Set Elements Postioning */

// Overall & Mobile

.banner-container {}

.infos-flex-container {
  justify-content: center;
  align-items: center;
}

.headline {
  order: 1;
  margin-bottom: 15px;
}

.title {
  order: 2;
  margin-bottom: 5px;
  width: 70%;
  text-align: center;
}

.subtitle {
  order: 3;
  width: 75%;
  text-align: center;
}

.dash {
  margin-top: 15px;
  order: 4;
  margin-bottom: 15px;
}

.published-date {
  order: 5;
}

.arrow-down-icon-wrapper{
  @extend .ab-horizontal-center;
  bottom: $arrow-bottom-mobile;
}

// Tablet

@include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
  .headline {
    margin-bottom: 15px;
  }
  .title {
    margin-bottom: 5px;
  }
  .subtitle {
    margin-bottom: 20px;
  }
  .dash {
    margin-bottom: 25px;
  }
  .arrow-down-icon-wrapper{
    bottom: $arrow-bottom-tablet;
  }
}

// Desktop

@include mq($min-width: $screen-md-min) {
  .headline {
    margin-bottom: 15px;
  }
  .title {
    margin-bottom: 5px;
  }
  .subtitle {
    margin-bottom: 20px;
  }
  .dash {
    margin-bottom: 25px;
  }
  .arrow-down-icon-wrapper{
    bottom: $arrow-bottom-desktop;
    &:hover {
      bottom: $arrow-bottom-desktop - $arrow-hover-move-length;
    }
  }
}