@import '../../themes/animation.scss';
@import '../../themes/media-queries';
@import '../../themes/common-variables.scss';
@import '../../themes/centering.scss';
@import '../../themes/truncate-text.scss';

$title-line-height: $line-height-medium;
$description-line-height: $line-height-base;

$light-shadow-mb-card: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
$dark-shadow-loadmore-btn: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
$light-shadow-loadmore-btn: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

$mb-card-width: 100%;
$mb-card-min-height: 110px;
$mb-card-img-size: 80px;
$mb-card-img-card-width: 110px; 

$mb-card-descript-max-lines: 3; 

/* OVERALL */

p {
  margin: 0;
}

.card {
  @include fade-in-down(.5s);
}

.cards-container {
  position: relative;
  width: 100%;
}

.image-card {
  width: 100%;
  background-color: $white;
  img {
    object-fit: cover;
  }
}

.text-card {
  background-color: $white;
  .card-title {
    line-height: $title-line-height;
    font-size: $font-size-large;
    color: $gray-15;
    letter-spacing: $topic-letter-space-small;
    font-weight: $font-weight-bold;
    h2 {
      display: inline;
      font-size: inherit;
      color: inherit;
      letter-spacing: inherit;
      font-weight: inherit;
    }
  }

  .card-description {
    line-height: $description-line-height;
    font-size: $font-size-small;
    color: $gray-50;
    letter-spacing: $topic-letter-space-tight;
  }

  .card-date {
    font-size: $font-size-small;
    color: $gray-60;
    letter-spacing: $topic-letter-space-tight;
  }
}

.loadmore-btn {
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $gray-15; 
  margin-top: 60px;
  margin-bottom: 50px;
  box-shadow: $light-shadow-loadmore-btn;
  transition-property: top,box-shadow;
  transition-timing-function: ease;
  transition-duration: .2s;
  
  &>div {
    width: 100%;
    @extend .ab-center-by-transform;
    color: $white;
    font-size: 17px;
    font-weight: $font-weight-bold;
    letter-spacing: $topic-letter-space-medium;
  }

  // Add loadmomre button hover effect if mq is desktop or hd
  @include mq($min-width: $screen-md-min) {
    &:hover {
      top: -5px;
      box-shadow: $dark-shadow-loadmore-btn;
    }
  }
}

/* MOBILE */

@media (max-width: $screen-xs-max) {
  .cards-container {
    width: $mb-card-width;
    padding: 30px 0 40px 0;
  }
  .card {
    position: relative;
    width: $mb-card-width;
    min-height: $mb-card-min-height;
    margin: 10px 0 10px 0;
    background-color: $white;
    box-shadow: $light-shadow-mb-card;
  }
  .image-card {
    position: absolute;
    top: 0;
    left: 0;
    width: $mb-card-img-card-width;
    min-height: $mb-card-min-height;
    img {
      width: $mb-card-img-size;
      height: $mb-card-img-size;
      // horizontally and vertically centering
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .text-card {
    margin-left: $mb-card-img-card-width;
    min-height: $mb-card-min-height;
    padding: 11px 2rem 14px 1rem;
    .card-title {
      @include truncate-text($title-line-height, $mb-card-descript-max-lines);
    }
    .card-description {
      display: none;
    }
    .card-date {
      display: none;
    }
  }
}
