@import './Cards.scss';

/* 
  THEME 02: in-column (wide-cards)
  TABLET, DESKTOP & HD
*/

$wd-card-max-width: 780px;
$wd-card-height: 200px;
$wd-card-img-width: 300px;
$wd-card-text-max-width: 436px;

$dark-shadow-wd-card: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
$light-shadow-wd-card: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

$wd-card-title-max-lines: 2;
$wd-card-descript-max-lines: 3; 

@include mq($min-width: $screen-sm-min) {
  .cards-container {
    width: 100%;
    padding: 60px 0 50px 0;
  }
  .card {
    margin: 0 auto 50px auto;
    position: relative;
    width: 92%;
    max-width: $wd-card-max-width;
    height: $wd-card-height;
    box-shadow: $light-shadow-wd-card;
    top: 0;
    left: 0;
    transition-property: top,left,box-shadow;
    transition-timing-function: ease;
    transition-duration: .2s;
  }
  .image-card {
    position: absolute;
    top: 0;
    left: 0;
    width: $wd-card-img-width;
    height: $wd-card-height;
    img {
      width: $wd-card-img-width;
      height: $wd-card-height;
    }
  }
  .text-card {
    margin-left: $wd-card-img-width;
    position: relative;
    max-width: $wd-card-max-width - $wd-card-img-width;
    height: $wd-card-height;
    padding: 25px 10px 0 20px;
    
    .card-title {
      width: 98%;
      max-width: $wd-card-text-max-width;
      transition: color ease .2s;
      @include mq($min-width: $screen-sm-min) {
        @include truncate-text($line-height-medium, $wd-card-title-max-lines);
      }
    }

    .card-description {
      width: 98%;
      max-width: $wd-card-text-max-width;
      margin-top: 10px;
      @include truncate-text($line-height-base, $wd-card-descript-max-lines);
    }

    .card-date {
      font-size: $font-size-xsmaller;
      position: absolute;
      right: 25px;
      bottom: 10px;
    }
  }
}

// Add card hover effect if mq is desktop or hd
@include mq($min-width: $screen-md-min) {
  .card:hover {
    top: -5px;
    left: -5px;
    box-shadow: $dark-shadow-wd-card;
    .card-title {
      color: $rusty-red;
    }
  }
}
