@import '../../themes/common-variables.scss';
@import '../../themes/media-queries.scss';
.container {
  position: absolute;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  z-index: 100;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  padding-top: 25px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  height: 80px;
  color: $gray-50;

  .donation {
    >span {
      color: $gray-50;
    }
  }
}

.donation {
  position: absolute;
  top: 50%;
  left: 34px;
  >div {
    margin-right: 8px;
    display: inline-block;
    height: 24px;
    vertical-align: middle;
  }

  >span {
    font-size: $font-size-medium;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
  }
}

.search {
  position: absolute;
  top: 50%;
  right: 34px
}


// === Mobile ===
@include mq($max-width: $screen-sm-min - 1px) {
  .donation {
    > span {
      display: none;
    }
  }
}
