@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables.scss';
@import '../../themes/media-queries.scss';
@import '../../themes/font-mixins.scss';

$nav-width: 10px;
$nav-height: 18px;
$nav-margin: 30px;

// mobile
.bookmarks-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  overflow-y: hidden;
  position: relative;
}

.bookmarks {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  padding-left: 0;
  list-style: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  .bookmark {
    font-size: $font-size-medium;
    white-space: nowrap;
    cursor: pointer;
    padding-right: rem(18px);
    display: inline;

    &.selected {
      span {
        color: $gray-15;
      }
    }
    
    span {
      color: $gray-50;
    }
  }
}

.nav {
  height: rem(18px);
  cursor: 'pointer';
  width: auto;
}

.left-nav {
  @extend .nav;
  position: absolute;
  left: 0;
  top: 5px;
}

.right-nav {
  @extend .nav;
  position: absolute;
  right: 0;
  top: 5px;
}

// tablet
@include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
  .bookmarks-container {
    width: $tablet-small-width;
  }
  .bookmarks {
    width: $tablet-small-width;
  }
}

// desktop
@include mq($min-width: $screen-md-min, $max-width: $screen-lg-max) {
  .bookmarks-container {
    width: $desktop-small-width;
    padding: 0;
  }
  .bookmarks {
    width: $desktop-small-width - ($nav-width * 2) - ($nav-margin * 2);
    overflow-x: hidden;
    &:hover {
      overflow-x: auto;
    }
  }
}

// HD desktop
@include mq($min-width: $screen-hd-min) {
  .bookmarks-container {
    width: $hd-desktop-small-width;
    padding: 0;
  }
  .bookmarks {
    width: $hd-desktop-small-width - ($nav-width * 2) - ($nav-margin * 2);
    overflow-x: hidden;
    &:hover {
      overflow-x: auto;
    }
  }
}
