@import '../../themes/animation';
@import '../../themes/variables';

.mobileNav {
  transition: background-color 0.5s ease-in-out;
  max-height: 100vh;
  font-family: $sansSerif;
}

.navOpen {
  overflow-y: scroll;
}

.topBar {
  text-align: right;
  margin-left: 0.7rem;
  margin-bottom: 0.3rem;
  padding-top: 9px;
}

.navLogo {
  padding-bottom: 0.3rem;
  @include fade-in(0.5s);
  img {
    height: 42px;
  }
}

.shareBtns {
  height: 42px;
}

.navButton {
  width: 38px;
  border: none;
  background: none;
  padding: 0;
  margin-right: 10px;
  img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
  }
  @include fade-in-right(0.5s);
}

@keyframes item-animation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform : translateY(0);
  }
}

@-webkit-keyframes item-animation {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform : translateY(0);
  }
}

.mobileLinkContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 0;
  transition: all .5s ease;
}

.containerOpen {
  height: auto;
  margin: 0 1em 0.1em 1em;
  padding-top: 2.5em;
  border-top: 3px solid $gray;
}

.mobileLinkContainer a {
  visibility: hidden;
}

.mobileLinkContainer div {
  visibility: hidden;
}

.containerOpen a {
  visibility: visible;
  width: 33%;
  height: 60px;
  margin: auto;
  text-align: center;
  font-size: 135%;
  animation: item-animation .3s linear forwards;
}

.containerOpen div {
  visibility: visible;
  animation: item-animation .3s linear forwards;
}

.active h1 {
  padding-bottom: 8px;
  border-bottom: 3px solid $gray;
}

.navIcon {
  width: 40px;
  height: 35px;
  position: absolute;
  margin: 5px;
  top: 11px;
  left: 5px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navIcon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: $gray;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.iconOpen span {
  background: $gray;
}

.navIcon span:nth-child(1) {
  top: 0px;
}

.navIcon span:nth-child(2), .navIcon span:nth-child(3) {
  top: 12px;
}

.navIcon span:nth-child(4) {
  top: 24px;
}

.iconOpen span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.iconOpen span:nth-child(2) {
  transform: rotate(45deg);
}

.iconOpen span:nth-child(3) {
  transform: rotate(-45deg);
}

.iconOpen span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
