@import '../../themes/animation';
@import '../../themes/common-variables';

.nav-menu {
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in;
  background: $light-gray;
}

.nav-scrolled-outer {
  background-color: $white;
  box-shadow: 0 2px 8px 0 rgba($gray-50, 0.5);
  transition: height 0.5s;
}