@import '../../themes/common-variables.scss';
@import '../../themes/media-queries.scss';
@import '../../themes/font-mixins.scss';
@import '../../themes/animation.scss';

$imgWidth: 20px;

// tablet & desktop & desktopHD
.search-box-container {

  &.expand {
    right: 2.6rem;
    width: 220px;
  }

  img {
    width: $imgWidth;
    cursor: pointer;
  }

  .search-form {
    display: inline-block;
    padding-left: rem(20px);
    @include fade-in(0.5s)
  }

  .search-input {
    background-color: $light-gray;
    border: none;
    cursor: pointer;
    font-size: $font-size-medium;
    font-weight: $font-weight-normal;
    outline: none;
  }

  .dark {
    background-color: transparent;
    color: white;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5)
  }
}


// mobile
@media (max-width: $screen-xs-max) {
  .search-box-container {
    right: 1rem;
  }
}
