@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/variables.scss';
@import '../../themes/common-variables.scss';
@import '../../themes/media-queries.scss';
@import '../../themes/font-mixins.scss';

.popup {
  position: fixed;
  background-color: rgba($white, 0.9);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 0%;
  opacity: 0;
  transition: all 0.5s ease-in;
}

.open {
  max-height: 100%;
  opacity: 1;
}

.close {
  display: none;
  max-height: 0;
  opacity: 0;
}

.closeBtn {
  position: absolute;
  top: 0.7rem;
  right: 2.5rem;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.3rem;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;

  img {
    width: 100%;
  }

  &:hover {
    padding: 0.1rem;
  }

  @media (max-width: $screen-md-max) {
    right: 1.6rem;
  }
}

.topic-title {
  color: $primary-color;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  margin-bottom: 1.5rem;
  @media (max-width: $screen-xs-max) {
    font-size: $font-size-large;
  }
}

.list-outer {
  @media (max-width: $screen-md-min) {
    margin-top: rem(50px);
  }
}

.article-title {
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
}

.article-desc {
  display: inline;
  color: $gray-50;
}

.continue {
  display: inline;
  color: $primary-color;
  font-weight: $font-weight-bold;
  margin: 0 0.2rem;

  &:link {
    color: $primary-color;
  }
  &:hover {
    border-bottom: 2px solid $primary-color;
  }
  &:visited {
    color: $primary-color;
  }
}

.topic {
  height: 10rem;
  display: table;

  @media (min-width: $screen-lg-min) {
    height: 12rem;
  }

  .img-outer {
    width: rem(90px);
    display: table-cell;
    vertical-align: top;
  }

  .img-box {
    margin-top: rem(18px);
    width: rem(80px);
    height: rem(80px);
    background-color: $gray-border-color;
  }

  .text-box {
    display: table-cell;
    vertical-align: top;
    padding: 0 0.5rem;
  }

}
