@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables';
@import '../../themes/font-mixins';
@import '../../themes/media-queries';
@import '../../themes/animation';

$authorbox-width-mobile: 100%;
$authorbox-width-tablet: $tablet-small-width - 10px;
$authorbox-width-desktop: $desktop-small-width - 10px;
$authorbox-width-desktop-hd: $hd-desktop-small-width -10px;

$author-image-size-mobile: 95px;
$author-image-size-tablet: 145px;
$author-image-size-desktop: 150px;

$image-container-width-desktop: 200px;
$image-container-width-tablet: 190px;
//==== OVERALL ====

.author-box {
  overflow : auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 25px;
}

.author-name {
  color: $gray-25;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

.author-mail {
  color: $gray-25;
  font-size: 15px;
}

.author-bio {
  color: $gray-15;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1.7;
  letter-spacing: .5px;
  text-align: justify;
}

.author-img {
  border-radius: 50%;
}

//==== MOBILE ====

@include mq($max-width: $screen-sm-min - 1px) {
  .author-box {
    width: $authorbox-width-mobile;
    text-align: center;
  }

  .author-img-container {
    width: 100%;
    text-align: center;
  }

  .author-img {
    width: $author-image-size-mobile;
    height: $author-image-size-mobile;
    margin-bottom: 12px;
  }

  .author-name {
    margin-bottom: 8px;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }

  .author-mail {
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }

  .author-bio {
    max-width: $screen-sm-min * .7;
    max-width: 80%;
    display: inline-block;
  }
}

//==== TABLET, DESKTOP, & HD SHARED SETTINGS ====
@include mq($min-width: $screen-sm-min) {
  .author-box {
    box-sizing: content-box;
  }

  .author-img-container {
    float: left;
    box-sizing: border-box;
  }

  .author-data-container {
    float: right;
    box-sizing: border-box;
    word-break: keep-all;
  }

  .author-name {
    vertical-align: middle;
  }

  .author-mail {
    vertical-align: middle;
  }

  .author-bio {
    word-break: normal;
    margin-top: 16px;
  }

}

//==== TABLET ====
@include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
  .author-box {
    width: $authorbox-width-tablet;
  }

  .author-img-container {
    width: $image-container-width-tablet;
  }

  .author-data-container {
    width: $authorbox-width-tablet - $image-container-width-tablet;
  }

  .author-img {
    width: $author-image-size-tablet;
    height: $author-image-size-tablet;
  }
}

//==== DESKTOP & DESKTOP HD ====
@include mq($min-width: $screen-md-min) {
  .author-box {
    width: $authorbox-width-desktop;
  }

  .author-img-container {
    width: $image-container-width-desktop;
  }
  .author-data-container {
    width: $authorbox-width-desktop - $image-container-width-desktop;
  }

  .author-img {
    width: $author-image-size-desktop;
    height: $author-image-size-desktop;
  }
}

//==== DESKTOP HD ====
@include mq($min-width: $screen-hd-min) {
  .author-box {
    width: $authorbox-width-desktop-hd;
  }

  .author-data-container {
    width: $authorbox-width-desktop-hd - $image-container-width-desktop;
  }
}
