// absolute horizontal center
.ab-horizontal-center {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  margin: auto;
}

// absolute center by using transform
.ab-center-by-transform {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
