@import './pre-bootstrap-customization.scss';

// TWReporter's custom variable
$twreporter-line-height: 1.8em;
$subnav-background: #3E3A39;
$gray-text1: #4D4D4D;
$black: #000;
$gray: #898989;
$text-color: #333;
$gray-border-color: #ACACB1;
$gray-tag-bg: #666674;
$progressbar-color: rgba(#C6000B, 0.35);

// == Screen 
// ## size
$screen-hd-min: 1440px;
$screen-lg-max: $screen-hd-min - 1px;

// == Typography
// ## Font
$font-date-serif: "Times New Roman",serif;
$font-size-base: 18px;
$font-size-xlarger: 30px;
$font-size-larger: 24px;
$font-size-large: 20px;
$font-size-base: 18px;
$font-size-medium: 16px;
$font-size-xsmall: 14px;
$font-size-tiny: 12px;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-superbold: 900;
// caption of image
$caption-color: #242423;
$z-index-widget: 1000000010;

// == Margin
// ## Components
$component-margin-bottom: 40px;
$component-margin-left: 24px;
$component-margin-right: 24px;

// == Colors
// ## gray
$gray-15: #262626;
$gray-40: #666666;
$gray-50: #808080;
$gray-70: #B3B3B3;
$gray-97: #F7F7F7;
$light-gray: #F1F1F1;
$blockquote-gray: rgba(74, 74, 74, 0.25);
// ## orange
$harley-davidson-orange: #c71b0a;
$light-red: #D92616;
// ## white
$white: #FFF;
// ## Global color settings
$primary-color: $harley-davidson-orange;
$photography-dark: #08192d;
$underline-marker-color: rgba(199, 26, 10, 0.25);
$loading-placeholder: rgba(191,191,191,0.50);

$material-box-shadow: 0px 3px 8px 0px rgba($gray-40, 0.5);
$box-glow: 0px 0px 3px rgba($gray-40, 0.5);

// == Layout 
// ## width
$article-inner-width: 712px;
$article-outer-width: 900px;

$tablet-small-width: 556px;
$tablet-medium-width: 672px;
$tablet-large-width: 768px;

$desktop-small-width: 664px;
$desktop-medium-width: 833px;
$desktop-large-width: 1024px;
