// TWReporter's custom variable
$twreporter-line-height: 1.8em;
$subnav-background: #3E3A39;
$gray-text1: #4D4D4D;
$black: #000;
$gray: #898989;
$gray-border-color: #ACACB1;

$gray-tag-bg: #666674;
$progressbar-color: rgba(#C6000B, 0.35);

// == Screen
// ## size
$screen-hd-min: 1440px;
$screen-lg-max: $screen-hd-min - 1px;

// == Typography
// ## Font
$font-date-serif: "Times New Roman",serif;
$font-topic-title-large: 45px;
$font-topic-title-small: 30px;
$font-size-xlarger: 34px;
$font-size-larger: 22px;
$font-size-large: 20px;
$font-size-base: 18px;
$font-size-medium: 16px;
$font-size-small: 15px;
$font-size-xsmall: 14px;
$font-size-xsmaller: 13px;
$font-size-tiny: 12px;

$font-weight-normal: 300;
$font-weight-bold: 700;

// caption of image
$caption-color: #242423;
$z-index-widget: 1000000010;

// ## Letter Spacing
$general-letter-space: 0.4px;
$topic-letter-space-wide: 2px;
$topic-letter-space-medium: 1px;
$topic-letter-space-small: 0.3px;
$topic-letter-space-tight: 0.1px;

// ## Line Height
$line-height-medium: 1.4;
$line-height-base: 1.5;
$line-height-large: 1.8;
$line-height-paragraph: 1.95;
// == Margin
// ## Components
$component-margin-bottom: 40px;
$component-margin-left: 24px;
$component-margin-right: 24px;

// == Colors
// ## gray
$gray-15: #262626;
$gray-25: #404040;
$gray-40: #666666;
$gray-50: #808080;
$gray-64: #A4A4A4;
$gray-60: rgba(0, 0, 0, 0.6);
$gray-70: #B3B3B3;
$gray-97: #F7F7F7;
$gray-98: #F9F9F9;
$input-border-gray: #CBCBCB;
$light-gray: #F1F1F1;
$blockquote-gray: rgba(74, 74, 74, 0.25);
$pinkish-grey: #BFBFBF;
$grey-d8: #d8d8d8;
// ## orange
$harley-davidson-orange: #c71b0a;
$light-red: #D92616;
$rusty-red: #c71b0a;
$article-tools-text: #a67a44;
// ## white
$white: #FFF;
// ## author search box
$placeholder-gray: $gray-64;
$input-bg-gray: $gray-98;
$transparent-bg: rgba(179, 179, 179, 0);

// ## Global color settings
$text-color: $gray-25;
$primary-color: $harley-davidson-orange;
$photography-dark: #08192d;
$underline-marker-color: rgba(199, 26, 10, 0.25);
$loading-placeholder: rgba(191,191,191,0.50);
$nav-bar-text-color: #101010;
$nav-bar-hover-text-color: #7f7f7f;

$material-box-shadow: 0px 4px 10px 0px rgba($gray-70, 0.7);
$box-glow: 0px 0px 3px rgba($gray-40, 0.05);

// == Layout
// ## width
$article-inner-width: 712px;
$article-outer-width: 900px;

$tablet-small-width: 556px;
$tablet-medium-width: 672px;
$tablet-large-width: 768px;

$desktop-small-width: 664px;
$desktop-medium-width: 833px;
$desktop-large-width: 1024px;

$hd-desktop-small-width: 700px;
$hd-desktop-medium-width: 880px;
$hd-desktop-large-width: 1440px;

