$red: #C6000B;
$brand-primary: $red;
$brand-secondary: #e25139;
$brand-success: #5cb85c;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;
$brand-info: #5bc0de;

// TWReporter's custom variable
$twreporter-line-height: 1.8em;
$subnav-background: #3E3A39;
$article-gray: #F7F7F7;
$gray-text1: #4D4D4D;
$white: #ffffff;
$black: #000;
$gray: #898989;
$light-gray: #F7F8F8;
$text-color: #333;
$gray-border-color: #ACACB1;
$gray-tag-bg: #666674;
$progressbar-color: rgba(#C6000B, 0.35);

$font-size-base: 16px !default;
$font-family-sans-serif: "Noto Sans",'Noto Sans TC', "Apple LiGothic Medium", Roboto, "Microsoft JhengHei", "Microsoft JhengHei", "新細明體", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
$font-date-serif: "Times New Roman", serif;

$article-inner-width: 712px;
$article-outer-width: 900px;

// caption of image
$caption-color: #242423;

