$base-color: #1d1d1d;
$lighten-1: lighten($base-color, 20%);
$lighten-2: lighten($base-color, 40%);
$lighten-3: lighten($base-color, 60%);
$spot-size: 10px;

@keyframes spinner {
  0%,
  100% {
    box-shadow:
      0 -2.6 * $spot-size 0 0 $base-color,  // 12
      1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-3, // 1.5
      2.5 * $spot-size 0 0 0 $lighten-3, // 3
      1.75 * $spot-size 1.75 * $spot-size 0 0 $lighten-3, // 4.5
      0 2.5 * $spot-size 0 0 $lighten-3, // 6
      -1.8 * $spot-size 1.8 * $spot-size 0 0 $lighten-3, // 7.5
      -2.6 * $spot-size 0 0 0 $lighten-2, // 9
      -1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-1; // 10.5
  }

  12.5% {
    box-shadow:
      0 -2.6 * $spot-size 0 0 $lighten-1,
      1.8 * $spot-size -1.8 * $spot-size 0 0 $base-color, 2.5 * $spot-size 0 0 0 $lighten-3,
      1.75 * $spot-size 1.75 * $spot-size 0 0 $lighten-3,
      0 2.5 * $spot-size 0 0 $lighten-3,
      -1.8 * $spot-size 1.8 * $spot-size 0 0 $lighten-3,
      -2.6 * $spot-size 0 0 0 $lighten-3,
      -1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-2;
  }

  25% {
    box-shadow:
      0 -2.6 * $spot-size 0 0 $lighten-2,
      1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-1,
      2.5 * $spot-size 0 0 0 $base-color, 1.75 * $spot-size 1.75 * $spot-size 0 0 $lighten-3,
      0 2.5 * $spot-size 0 0 $lighten-3,
      -1.8 * $spot-size 1.8 * $spot-size 0 0 $lighten-3,
      -2.6 * $spot-size 0 0 0 $lighten-3,
      -1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-3;
  }

  37.5% {
    box-shadow:
      0 -2.6 * $spot-size 0 0 $lighten-3,
      1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-2,
      2.5 * $spot-size 0 0 0 $lighten-1,
      1.75 * $spot-size 1.75 * $spot-size 0 0 $base-color, 0 2.5 * $spot-size 0 0 $lighten-3,
      -1.8 * $spot-size 1.8 * $spot-size 0 0 $lighten-3,
      -2.6 * $spot-size 0 0 0 $lighten-3,
      -1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-3;
  }

  50% {
    box-shadow:
      0 -2.6 * $spot-size 0 0 $lighten-3,
      1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-3,
      2.5 * $spot-size 0 0 0 $lighten-2,
      1.75 * $spot-size 1.75 * $spot-size 0 0 $lighten-1,
      0 2.5 * $spot-size 0 0 $base-color, -1.8 * $spot-size 1.8 * $spot-size 0 0 $lighten-3,
      -2.6 * $spot-size 0 0 0 $lighten-3,
      -1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-3;
  }

  62.5% {
    box-shadow:
      0 -2.6 * $spot-size 0 0 $lighten-3,
      1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-3,
      2.5 * $spot-size 0 0 0 $lighten-3,
      1.75 * $spot-size 1.75 * $spot-size 0 0 $lighten-2,
      0 2.5 * $spot-size 0 0 $lighten-1,
      -1.8 * $spot-size 1.8 * $spot-size 0 0 $base-color, -2.6 * $spot-size 0 0 0 $lighten-3,
      -1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-3;
  }

  75% {
    box-shadow:
      0 -2.6 * $spot-size 0 0 $lighten-3,
      1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-3,
      2.5 * $spot-size 0 0 0 $lighten-3,
      1.75 * $spot-size 1.75 * $spot-size 0 0 $lighten-3,
      0 2.5 * $spot-size 0 0 $lighten-2,
      -1.8 * $spot-size 1.8 * $spot-size 0 0 $lighten-1,
      -2.6 * $spot-size 0 0 0 $base-color, -1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-3;
  }

  87.5% {
    box-shadow:
      0 -2.6 * $spot-size 0 0 $lighten-3,
      1.8 * $spot-size -1.8 * $spot-size 0 0 $lighten-3,
      2.5 * $spot-size 0 0 0 $lighten-3,
      1.75 * $spot-size 1.75 * $spot-size 0 0 $lighten-3,
      0 2.5 * $spot-size 0 0 $lighten-3,
      -1.8 * $spot-size 1.8 * $spot-size 0 0 $lighten-2,
      -2.6 * $spot-size 0 0 0 $lighten-1,
      -1.8 * $spot-size -1.8 * $spot-size 0 0 $base-color;
  }
}

.loader-container {
  height: 5.1 * $spot-size;
  margin: 30px auto;
  position: relative;

  .loader {
    margin: 2.6*$spot-size auto 2.5*$spot-size auto;
    width: $spot-size;
    height: $spot-size;
    border-radius: 50%;
    position: relative;
    text-indent: -9999rem; // Hide the text contents
    animation: spinner 1.1s infinite ease;
    transform: translateZ(0)
  }
}
