.category {
  width: 2.6em;
	/* encodeURIComponent() for Fx and IE
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="330" height="330"><polygon fill="#fff" stroke="#000" stroke-width="15" stroke-linejoin="round" points="315,165 240,295 90,295 15,165 90,35 240,35"></polygon></svg>');
	*/
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22330%22%20height%3D%22330%22%3E%3Cpolygon%20fill%3D%22%23fff%22%20stroke%3D%22%23000%22%20stroke-width%3D%2215%22%20stroke-linejoin%3D%22round%22%20points%3D%22315%2C165%20240%2C295%2090%2C295%2015%2C165%2090%2C35%20240%2C35%22%3E%3C%2Fpolygon%3E%3C%2Fsvg%3E');
  background-size: 100%;
  background-repeat: repeat-y;
  text-align: center;
  line-height: 2.63em;
  padding: 0 0.4em;
}
