.daily {
    text-align: center;
}

.daily-itemlistwrapprt {
    width: 982px;
    margin: auto;
    text-align: left;
}
.daily-itemlist {
    margin-left: -26px;
}

.daily-item {
    display: inline-block;
    vertical-align : top;
    padding-left: 26px;
}

.daily-image {
    width: 310px;
    height: 190px;
}

.daily_lastpublish {
    font-style: italic;
    padding: 15px 0;
}
.daily-title {
    font-family: "Noto Sans",'Noto Sans TC', Roboto;
    font-size: 16px;
    color: black;
    line-height: 26px;
    word-spacing: 30px;
    margin-bottom: 75px;
}

.daily-news {
    font-size: 26px;
}
.what {
    font-family: 'Times New Roman';
    font-style: Italic;
    font-weight: normal;
    display: inline;
}
.new {
    font-family: 'Montserrat';
    font-weight: Bold;
    display: inline;
}

.daily-line {
    width: 4%;
    border: 2px solid black;
    margin: 10px auto 60px;
}

@media 
only screen 
and (max-width : 799px) ,
only screen 
and (max-device-width : 799px) {

    .daily-item {
        width: 90%;
        display: block;
        padding: 2%;
        margin: 2%;
        vertical-align : top;
        border-bottom-style: solid;
        border-color: #CCC;
        border-bottom-width: 2px;
    }

    .daily-image {
        display: inline-block;
        padding-top: 0;
        height: auto;
        width: 40%;
    }   

    .daily-title {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        font-size: 100%;
        vertical-align : top;
        width: 50%;
        margin-top: 0px;
    }
    
    .daily-line {
        display: none;
    }
    .daily-news {
        margin-left: 0;
    }

    .what {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: normal;
        font-size: 140%;
        display: inline;
    }

    .new {
        font-family: 'Roboto';
        font-weight: normal;
        font-size: 140%;
        display: inline;
    }
}

@media 
all 
and (min-width : 800px)
and (max-width : 1745px) {
    .daily-item {
    }
}
