.daily-itemlist {
    width: 92%;
    margin-left: 1%;
    margin-right: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.daily-item {
    width: 30%;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align : top
}

.daily-image {
    padding-top: 0;
    height: auto;
    width: 100%;
}

.daily-title {
    font-family: "Noto Sans",'Noto Sans TC', Roboto;
    font-size: 95%;
    margin-top: 20px;
    width: 95%;
}

.daily-news {
    align: center;
    width: 40%;
    margin-left: 30%;
    text-align: center;
}

.what {
    font-family: 'Times New Roman';
    font-style: Italic;
    font-weight: normal;
    font-size: 240%;
    display: inline;
}

.new {
    font-family: 'Montserrat';
    font-weight: Bold;
    font-size: 240%;
    display: inline;
}

.daily-line {
    width: 4%;
    height: 1px;
    border-top-style: solid;
    border-width: 4px;
    margin-left: 48%;
    margin-top: 32px;
    margin-bottom: 32px;
}

@media 
only screen 
and (max-device-width : 799px) {

    .daily-title {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 100%;
        vertical-align : top;
        width: 90%;
    }
    
    .daily-item {
        width: 40%;
        display: inline-block;
        padding: 2%;
        margin: 2%;
    }

    .daily-image {
        padding-top: 0;
        height: auto;
        width: 100%;
    }   

}
@media 
only screen 
and (max-width : 799px) {

    .daily-title {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 100%;
        vertical-align : top;
        width: 90%;
    }
    
    .daily-item {
        width: 40%;
        display: inline-block;
        padding: 2%;
        margin: 2%;
    }

    .daily-image {
        padding-top: 0;
        height: auto;
        width: 100%;
    }   

}
