.daily {
    text-align: center;
}

.daily-itemlistwrapprt {
    width: 982px;
    margin: auto;
    text-align: left;
}
.daily-itemlist {
    margin-left: -26px;
}

.daily-item {
    display: inline-block;
    vertical-align : top;
    padding-left: 26px;
}

.daily-image {
    width: 310px;
    height: 190px;
}

.daily_lastpublish {
    font-style: italic;
    padding: 15px 0;
}
.daily-title {
    font-family: "Noto Sans",'Noto Sans TC', Roboto;
    font-size: 16px;
    color: black;
    line-height: 26px;
    word-spacing: 30px;
    margin-bottom: 75px;
}

.daily-news {
    font-size: 26px;
}
.what {
    font-family: 'Times New Roman';
    font-style: Italic;
    font-weight: normal;
    display: inline;
}
.new {
    font-family: 'Montserrat';
    font-weight: Bold;
    display: inline;
}

.daily-line {
    width: 4%;
    border: 2px solid black;
    margin: 10px auto 60px;
}

@media 
only screen 
and (max-width : 799px) ,
only screen 
and (max-device-width : 799px) {

    .daily-item {
        width: 350px;
        margin: 0 0 auto;
        display: block;
        vertical-align : top;
        padding: 0;
        border-bottom-style: solid;
        border-color: #CCC;
        border-bottom-width: 2px;
    }

    .daily-itemlistwrapprt {
        width: 100%;
    }
    .daily-image {
        display: inline-block;
        width: 99px;
        height: 72px;
        margin-left: 12px;
        margin-right: 12px;
        padding-top: 12px;
        padding-bottom: 12px;
    }   

    .daily_lastpublish {
        display: none;
    }
    .daily-title {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        font-size: 19px;
        vertical-align : top;
        width: 180px;
        margin-top: 18px;
        margin-bottom: 18px;
        line-height: 19px;
        word-spacing: 20px;
    }
    
    .daily-line {
        display: none;
    }
    .daily-news {
        margin-left: 0;
    }
    .daily-itemlist {
        margin-left: auto;
        margin-top: 30px;
    }


    .what {
        font-size: 19px;
        display: inline;
    }

    .new {
        font-size: 19px;
        display: inline;
    }
}
