.listing-img {
    border: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.listing-item {
    margin: 0px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.featuresimage-wrap {
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
    text-align: center;
}

.listing-projectcontainer {
    height: 100vh
}

.listing-projectborder {
    position: relative;
    width: 100%;
    height: 285px;
    border: solid;
    border-color: #000;
    border-width: 4px;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 1px;
    padding-bottom: 1px;
}

.feature-categorycontainer {
    width: 15%;
    display: inline-block;
    padding-left: 40px;
    padding-top: 20px;
    position: absolute;
    z-index: 1;
}

.feature-category {
    background-image: url('/asset/hexagon.png');
    font-family: "Noto Sans",'Noto Sans TC', Roboto;
    display: block;
    font-size: 160%;
    background-repeat: no-repeat; 
    background-position: center;
    width: 46x;
    height: 46px;
    text-align: center;
    padding-top: 17px;
    align: center;
}
.listing-project {
    display: inline;
    width: 80%;
}

.listing-projectpublished {
    display: inline-block;
    font-size: 80%;
    font-family: Roboto;
    margin-top: 33px;
    margin-bottom: 12px;
    margin-left: 15%;
    width: 20%;
}

.listing-title {
    font-size: 170%;
    font-family: "Noto Sans",'Noto Sans TC', Roboto;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 12%;
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 1%;
}

.listing-excerpt {
    font-size: 120%;
    padding-top: 15px;
    padding-bottom: 33px;
    margin-left: 15%;
    margin-right: 15%;
    font-family: "Noto Sans",'Noto Sans TC', Roboto;
    font-weight: light;
}

.listing-author {
    font-size: 130%;
    padding-top: 15px;
    padding-bottom: 33px;
    font-family: "Noto Sans",'Noto Sans TC', Roboto;
    font-weight: light;
    text-align: right;
    padding-right: 12%;
}

.component-stickybox > * {
  width: 100%;
  padding: 0;
  margin:0;
}

.component-stickybox.frozen > * {
  position: fixed;
  top: 0;
  z-index: -1;
  background-color: #FFF;
}

@media 
only screen 
and (max-width : 799px) , 
only screen 
and (max-device-width : 799px) { 
    
    .listing-img {
        border: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .listing-project {
        position: absolute;
        width: 92%;
        bottom: 20px;
    }
    .listing-title {
        width: 92%;
        color: #FFF;
        padding-right: 4%;
        padding-left: 14%;
        font-size: 120%;
    }

    .listing-excerpt {
        display: none;
    }

    .listing-author {
        display: none;
    }

    .listing-projectcontainer {
        height: auto
    }

    .listing-projectpublished {
        font-size: 80%;
        font-family: Roboto;
        margin-top: 23px;
        margin-bottom: 12px;
        width: 92%;
        color: #FFF;
        padding-right: 4%;
        padding-left: 14%;
    }

    .listing-item {
        margin: 0px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 0px;
        padding-bottom: 0px;
        height: auto;
        overflow: hidden;
    }
    .listing-projectborder {
        border-width: 0px;
        background-color: rgba(255, 255, 255, 0);
        top: -40px;
        position: absolute;
        height: 100%;
    }
    .listing-project {
        word-wrap: normal;
        display: block;
        float: right;
        width: 80%;
    }
    .feature-categorycontainer {
        position: absolute;
        display: block;
        width: 15%;
        right: 2px;
        top: 20px;
    }
}

