.listing {
    list-style-type: none;
    margin: 24px 0px 24px 0px;
    padding:0;
    border: 0;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

