.listing-img{
    border: 0;
    width: 100%;
}

.listing-item {
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.listing-projectborder {
    border: solid;
    border-color: #000;
    border-weight: 3px;
    background-color: #FFF;
    margin-bottom: 1px;
    padding-bottom: 0px;
    position: relative;
}

.listing-project {
    margin-left:25%;
    margin-right: 25%;
    width: 50%;
}

.listing-projectpublished {
    font-size: 12px;
    font-family: Roboto;
    margin-top: 33px;
    margin-bottom: 12px;
}

.listing-title {
    font-size: 30px;
    font-family: 'cwTeXHei', Roboto;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 12px;
    margin-bottom: 15px;
}

.listing-excerpt {
    font-size: 16px;
    padding-top: 15px;
    padding-bottom: 33px;
    font-family: 'cwTeXHei', Roboto;
    font-weight: light;
}

.component-stickybox > * {
  width: 100%;
  padding: 0;
  margin:0;
}

.component-stickybox.frozen > * {
  position: fixed;
  top: 0;
  z-index: -1
}

@media 
only screen 
and (max-device-width : 799px) { 
    .listing-projectborder {
        border: none;
        background-color: rgba(255, 255, 255, 0);
        margin-bottom: 1px;
        padding-bottom: 0px;
        position: relative;
        height: 160px;
        top: -160px;
    }

    .listing-title {
        font-size: 35px;
        color: #FFF;
        opacity: 1;
        font-family: 'cwTeXHei', Roboto;
        font-weight: bold;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 12px;
        margin-bottom: 15px;
    }

    .listing-excerpt {
        display: none;
    }

    .listing-projectpublished {
        font-size: 12px;
        font-family: Roboto;
        margin-top: 33px;
        margin-bottom: 12px;
        color: #FFF;
    }

}
