.listing-item {
    margin: 0px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.listing-item .img {
    border: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.listing-item .img-overlay {
}

.listing-item .img-wrap {
    max-width: 100%;
    max-height: auto;
    overflow: hidden;
    text-align: center;
}

.listing-item .listing-item-container {
    height: 100vh
}

.listing-item .border {
    position: relative;
    border: solid;
    border-color: #000;
    border-width: 4px;
    background-color: rgba(255, 255, 255, 0.85);
    margin-bottom: 1px;
    padding-bottom: 1px;
}

.listing-item .published {
    font-family: "Times New Roman";
    font-style: italic;
    color: black;
    word-spacing: 20px;
    padding-top: 24px;
    font-size: 12px;
}

.listing-item .title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 14px;
    line-height: 36px;
}

.listing-item .subtitle {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
}

.listing-item .excerpt {
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    word-spacing: 27px;
}

.listing-item .author {
    font-size: 130%;
    padding-top: 15px;
    padding-bottom: 33px;
    font-weight: light;
    text-align: right;
}

.listing-item .featurebox {
    width: 625px;
    margin: 40px auto 40px auto;
}

.listing-item .featurebox .cat-container {
    width: 32px;
    display: inline-block;
    position: absolute;
    z-index: 1;
}

.listing-item .featurebox .category {
    font-weight: bold;
}

.listing-item .featurebox .infobox {
    margin-left: 80px;
}

@media
only screen
and (max-width : 799px) ,
only screen
and (max-device-width : 799px) {
    .listing-item {
        margin: 0px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 0px;
        padding-bottom: 0px;
        height: auto;
        overflow: hidden;
    }
    .listing-item .img {
        border: 0;
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .listing-item .img-overlay {
        background-color: rgba(0,0,0,0.15);
        position: absolute;
        top: 0px;
        height: 100%;
        width: 100%;
    }
    .listing-item .listing-item-container {
        height: auto;
        position: static;
    }
    .listing-item .border {
        position: static;
        border: none;
        border-width: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
        background-color: transparent
    }
    .listing-item .featurebox .infobox {
        margin-left: 0px;
        position: absolute;
        bottom: 0px;
        padding: 0px 20px 20px 20px;
    }
    .listing-item .title {
        color: #FFF;
        font-size: 24px;
        margin-bottom: 0px;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.85);
    }
    .listing-item .excerpt {
        display: none;
    }
    .listing-item .subtitle {
        display: none;
    }
    .listing-item .author {
        display: none;
    }
    .listing-item .published {
        display: none;
    }
    .listing-item .featurebox {
        width: auto;
        margin: 0px;
    }
    .listing-item .featurebox .cat-container {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 0;
    }
}
