@import '../themes/animation.scss';
@import '../themes/common-variables.scss';
@import '../themes/font-mixins.scss';
@import '../themes/media-queries.scss';

$width-sum-01: 31;
$width-sum-02: $width-sum-01 + 12 + 39;
$width-sum-03: $width-sum-02 + 10 + 31;

.button-appearance {
  display: inline-block;
  position: relative;
  svg {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    opacity: 0.3;
  }
  div {
    border-radius: rem(2px);
    display: none;
    position: absolute;
    bottom: 0;
  }
}

.image-container {
  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: 0 1px 10px 2px #888888;
  }
}

.control-button {
  display: inline-block !important;
  height: rem(24px);
  width: rem(31px);
}

.control-image {
  opacity: 1.0 !important;
}

.image-container-large {
  height: rem(24px);
  width: rem(39px);
  left: rem($width-sum-01 + 12);
}

.image-large {
  width: 100%;
  height: auto;
}

.image-container-medium {
  height: rem(24px);
  width: rem(31px);
  left: rem($width-sum-02 + 10);
}

.image-medium {
  height: rem(16px);
  width: rem(31px);
}

.image-container-small {
  height: rem(24px);
  width: rem(27px);
  left: rem($width-sum-03 + 10);
}

.image-small {
  height: rem(13px);
  width: rem(27px);
}

// 35 = 31+4
.wrapper {
  width: 0px;
  height: rem(35px);
  position: absolute;
  background: rgba(230, 230, 230, 1);
  border-radius: rem(2px);
  bottom: -6px !important;
  left: rem(35px);
}

.anima-show {
  display: inline-block !important;
  @include fade-in(0.7s);
}

.animaStyle-wrapper-show {
  display: inline-block !important;
  @include expand-right(0.4s, 133px);
}

@keyframes local-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.anima-hide {
  display: inline-block !important;
  animation-name: local-fade-out;
  @include animated(0.3s);
}

.animaStyle-wrapper-hide {
  display: inline-block !important;
  @include collapse-left(0.4s, 133px);
}

.font-status-active {
  opacity: 1 !important;
}
