.footer {
    display: block;
    width: 100%;
    margin: 40px 0 20px 0;
    padding: 40px 0 10px 0;
    border-bottom: 1px solid black;

    a {
        text-decoration: none;
        padding-right: 20px;
    }
    .footer-item {
        color: black;
        font-weight: bold;
        line-height: 1.7;
        font-size: 1rem;
        padding: 2px 4px 2px 4px;
        &.right-reserved {
            float: right;
        }
    }
}
@media 
only screen 
and (max-device-width : 799px) {
    & .footer-item.right-reserved {
        float: none;
        display: block;
        margin-top: 10px;
    }
}

