@import '../themes/variables';

.mobileNav {
  transition: background-color 0.5s ease-in-out;
  max-height: 100vh;
  font-family: $sansSerif;
}

.navOpen {
  overflow-y: scroll;
}

@keyframes item-animation {
  from {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform : translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-webkit-keyframes item-animation {
  from {
    opacity: 0;
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform : translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

.mobileLinkContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 0;
  -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
            transition: all .5s ease;
}

.containerOpen {
  height: auto;
  margin: 0 1em 0.1em 1em;
  padding-top: 2.5em;
  border-top: 3px solid $gray;
}

.mobileLinkContainer a {
  visibility: hidden;
}

.mobileLinkContainer div {
  visibility: hidden;
}

.containerOpen a {
  visibility: visible;
  width: 33%;
  height: 60px;
  margin: auto;
  text-align: center;
  font-size: 135%;
  animation: item-animation .3s linear forwards;
  -webkit-animation-name: item-animation;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: linear;
}

.containerOpen div {
  visibility: visible;
  animation: item-animation .3s linear forwards;
}

.active h1 {
  padding-bottom: 8px;
  border-bottom: 3px solid $gray;
}

.navIcon {
  width: 40px;
  height: 35px;
  position: absolute;
  margin: 5px;
  top: 11px;
  right: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.navIcon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: $gray;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.iconOpen span {
  background: $gray;
}

.navIcon span:nth-child(1) {
  top: 0px;
}

.navIcon span:nth-child(2), .navIcon span:nth-child(3) {
  top: 12px;
}

.navIcon span:nth-child(4) {
  top: 24px;
}

.iconOpen span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

.iconOpen span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.iconOpen span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.iconOpen span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
