.nav-menu {
    position: relative;
    height: 120px;
    overflow: hidden;
    width: 100%;
    padding-top: 5px;
}

.nav_logo {
    text-align: center;
}

.listing-menu {
    width: 700px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 10px auto;
}

.menu-items {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.nav-item {
    font-family: "Noto Sans",'Noto Sans TC', Roboto;
    display: inline;
    font-size: 100%;
    font-weight: 700;
    padding-left: 29px;
    padding-right: 29px;
    letter-spacing: 5px;
}

@media
only screen
and (max-device-width : 799px) {
    .listing-menu {
        display: none;
    }
}
