.category-name {
    position: absolute;
    top: 170px;
    left: 10px;
    z-index: 2;
    width: 10%;
}

.tag-listing {
    list-style-type: none;
    width: 954px;
    margin: 20px auto;
    padding-left: 1%;
    padding-right: 1%;
}

.category-name {
    position: fixed;
    width: 4%;
    display: inline;
    margin-left: 1%;
    margin-right: 1%;
}

.category-items {
    display: inline;
    width: 94%;
}

.tag-photography h3, .tag-photography .tag-itemexcerpt, .tag-photography .tag-itempublished {
    color: #F7F7F7;
}

.tag-photography .tag-item:hover h3, .tag-photography .tag-item:hover .tag-itempublished {
    color: black;
}

.tag-photography .tag-item:hover .tag-itemexcerpt {
    color: #808080;
}

.tag-item {
    display: inline-block;
    width: 451px;
    font-size: 13px;
    vertical-align: top;
    transition: all 0.3s ease;
}

.tag-item:hover {
    background-color: white;
    box-shadow: 0px 3px 8px 0px rgba(102, 102, 102, 0.5);
}

.tag-item:nth-child(odd) {
    vertical-align: top;
    margin-bottom: 15px;
}

.tag-item:nth-child(even) {
    margin: 0 0 15px 20px;
    vertical-align: top;
}

.itemimage-wrap {
    width: 451px;
    height: auto;
    overflow: hidden;
    text-align: center;
}

img.category-itemimage {
    width: 100%;
    height: auto;
}

.tag-itemdesc {
    width: 100%;
    height: auto;
    margin: 0px auto;
    padding: 0 0.6rem;
}

.tag-itemtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.25em;
}

.tag-itemtitle h3 {
    font-size: 160%;
    font-weight: 700;
}

.tag-itemexcerpt {
    display: block;
    font-size: 14px;
    font-weight: light;
    line-height: 24px;
    text-align: justify;
    color: #808080;
}

.tag-itempublished {
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: Roboto;
    padding-left: 80%;
}

@media all and (max-width: 1200px) {
    .category-name {
        display: none;
    }
}

@media all and (max-width: 954px) and (min-width: 800px) {
    .itemimage-wrap {
        width: 100%;
    }
}


/* 451 * 2 + 52 = 954 */


/* 寬度800px 以下*/

@media only screen and (max-device-width: 799px),
only screen and (max-width: 799px) {
    .tag-item {
        width: 100%;
        margin: 0;
        height: auto;
        overflow: hidden;
    }
    .tag-listing {
        width: 100%;
        margin-top: 20px;
        -webkit-column-count: 1;
        column-count: 1;
        padding: 0;
    }
    .tag-itemtitle {
        font-weight: bold;
        line-height: 1.25em;
        margin-bottom: 1.5em;
    }
    .category-items {
        width: 100%;
        clear: both;
    }
    .tag-itemdesc {
        width: 90%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 16px;
    }
    .itemimage-wrap {
        margin: 0;
        width: 100%;
        height: auto;
    }
    .tag-item:nth-child(even) {
        margin: 0;
        vertical-align: top;
    }
    img.category-itemimage {
        width: 100%;
        height: auto;
    }
    .tag-itemexcerpt {
        display: none;
    }
    .tag-itempublished {
        display: none;
    }
}