.category-container {
    width: 100%;
}

.category-name {
    width: 10%;
}

.tag-listing {
    list-style-type: none;
    width: 92%;
    margin-left: 7%;
    margin-right: 5%;
    padding-left: 1%;
    padding-right: 1%;
}

.category-name {
    width: 4%;
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

.name-title {
    background-image: url('/asset/hexagon.png');
    display: block;
    font-size: 24pt;
    background-repeat: no-repeat; 
    background-position: center;
    width: 46px;
    height: 46px;
    text-align: center;
    padding-top: 15px;
}

.category-items {
    display: inline;
    width: 94%;
    float: right;
}

.tag-item {
    display: inline-block;
    background-color: #FFF;
    width: 49%;
    font-size: 13px;
    vertical-align: top;
}

.tag-item:nth-child(odd) {
    margin: 0 1% 0 0;
    vertical-align: top;
}

.itemimage-wrap {
    max-width: 451px;
    max-height: 225px;
    overflow: hidden;
    text-align: center;
}

img.category-itemimage {
    width: 100%;
    height: auto;
}

.tag-itemdesc {
    width: 85%;
    background-color: #FFF;
    height: 171px;
}

.tag-itemtitle {
    margin-top: 12px; 
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 12px; 
    font-size: 18px;
    font-family: 'cwTeXHei', Roboto;
}

.tag-itemexcerpt {
    display: block;
    font-size: 14px;
    font-family: 'cwTeXHei', Roboto;
    font-weight: light;
}

@media all and (max-width: 954px) and (min-width: 800px) {
    .itemimage-wrap {
        width: 100%;
    }
}

/* 451 * 2 + 52 = 954 */
/* 寬度800px 以下*/
@media 
only screen 
and (max-device-width : 799px) {
    .tag-listing {
        width: 475px;
        margin: 0 auto;
    }
    .tag-item {
        width: 100%;
        margin: 0;
    }
    .tag-listing {
        -webkit-column-count: 1;
        column-count: 1;
    }
}
