/* slider overwrite */
.slick-slider {
    margin-bottom: 100px !important;
    padding-bottom: 35px;
}
.slick-dots {
    position: static;
    bottom: -35px !important;
}

.slick-prev {
    left: 30px !important;
}

.slick-next {
    right: 30px !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
}


/* slider content */
.topnews_categorycontainer {
    position: absolute;
    top: 50px;
    left: 50px;
}

.topnews_category {
    background-image: url('/asset/hexagon.png');
    display: block;
    font-size: 16px;
    background-repeat: no-repeat; 
    background-position: center;
    width: 31px;
    height: 31px;
    text-align: center;
    padding-top: 13px;
}

.topnewsimage-wrap {
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh !important;
    position: relative;
    display: block;
}

.carousel-item {
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    width: 475px;
    padding: 30px 30px 0;
}
.carousel-published {
    font-family: "Times New Roman";
    font-style: italic;
    color: black;
    word-spacing: 20px;
    padding-bottom: 30px;
    font-size: 12px;
}
.carousel-itemtitle {
    font-family: "Noto Sans",'Noto Sans TC', Roboto, "微軟正黑體", "Microsoft JhengHei", "新細明體", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: black;
    line-height: 32px;
    word-spacing: 20px;
    padding-bottom: 30px;
}
.carousel-excerpt {
    font-family: "Noto Sans",'Noto Sans TC', Roboto, "微軟正黑體", "Microsoft JhengHei", "新細明體", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: lighter;
    font-size: 14px;
    line-height: 27px;
    word-spacing: 27px;
    padding-bottom: 30px;
}

@media
all
and (min-width : 1746px) {
    .carousel-item {
        width: 700px;
        padding: 30px 30px 0;
        right: 80px;
        bottom: 80px;
    }
}

@media
only screen
and (max-device-width : 799px),
only screen
and (max-width : 799px) {
    .slick-dots {
        display:none;
    }

    .topnews_categorycontainer {
	left: auto;
	top: 20px;
        right: 20px;
    }
    .topnews_category {
	background-size: 35px 35px;
	font-size: 16pt;
	width: 35px;
	height: 35px;
    padding-top: 15px;
    }
    .carousel-item {
	width: 275px;
    	bottom: 0px;
    	left: 50%;
    	margin-left: -154.5px;
	padding: 15px 15px 0;
    }
    .topnewsimage-wrap {
        height: 270px !important; /* 220 + 50 padding*/
	background-size: 100% 220px;
    }
    .carousel-published {
	display: none;
    }
    .carousel-itemtitle {
	font-size: 17px;
	line-height: 26px;
	padding-bottom: 15px;
    }
    .carousel-excerpt {
        display: none;
    }
}
