/* slider overwrite */
.slick-slider {
    margin-bottom: 135px !important;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 80px;
    padding-bottom: 0;
}
.slick-list, .slick-track {
    height: 100%;
    box-sizing: border-box;
}
.slick-dots {
    position: static;
    bottom: -40px !important;
}

.slick-prev {
    left: 30px !important;
}

.slick-next {
    right: 30px !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 30px;
}


/* slider content */
.topnews_categorycontainer {
    position: absolute;
    top: 50px;
    left: 50px;
}

.topnews_category {
    background-image: url('/asset/hexagon.png');
    display: block;
    font-size: 16px;
    background-repeat: no-repeat; 
    background-position: center;
    width: 31px;
    height: 31px;
    text-align: center;
    padding-top: 13px;
}
.slick-dots li button:before {
    font-size: 30px;
}
.slick-prev:before, .slick-next:before {
    font-size: 30px;
}
.topnewsimage-wrap {
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100% !important;
    position: relative;
    display: block;
}

.carousel-item {
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid black;
    width: 475px;
    padding: 30px 30px 0;
}
.carousel-published {
    font-family: "Times New Roman";
    font-style: italic;
    color: black;
    word-spacing: 20px;
    padding-bottom: 30px;
    font-size: 12px;
}
.carousel-itemsubtitle {
    font-family: "Noto Sans",'Noto Sans TC', Roboto, "微軟正黑體", "Microsoft JhengHei", "新細明體", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-size: 20px;
    word-spacing: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.carousel-itemtitle {
    font-family: "Noto Sans",'Noto Sans TC', Roboto, "微軟正黑體", "Microsoft JhengHei", "新細明體", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: black;
    line-height: 36px;
    word-spacing: 20px;
    padding-bottom: 20px;
}
.carousel-excerpt {
    font-family: "Noto Sans",'Noto Sans TC', Roboto, "微軟正黑體", "Microsoft JhengHei", "新細明體", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
    font-weight: lighter;
    font-size: 17px;
    line-height: 27px;
    word-spacing: 27px;
    padding-bottom: 24px;
}

@media
all
and (min-width : 1746px) {
    .carousel-item {
        width: 700px;
        padding: 30px 30px 0;
        right: 80px;
        bottom: 80px;
    }
}

/* for desktop with 13 inch screen*/
@media 
only screen 
and (max-device-width : 1600px),
only screen
and (max-width : 1600px)  {
    .carousel-excerpt {
        display: none;
    }
}

/* for tablet */
@media
only screen
and (max-device-width : 767px),
only screen
and (max-width : 767px) {
    .slick-slider {
        height: auto;
        margin-bottom: 60px !important;
    }
    .slick-dots {
        display:none;
    }
    .topnews_categorycontainer {
        display:none;
    }
    .topnews_category {
        background-size: 35px 35px;
        font-size: 16pt;
        width: 35px;
        height: 35px;
        padding-top: 15px;
    }
    .carousel-item {
	    width: 275px;
    	bottom: 0px;
    	left: 50%;
    	margin-left: -154.5px;
	    padding: 15px 15px 0;
    }
    .topnewsimage-wrap {
        height: 562px !important;
	    background-size: auto 512px;
    }
    .carousel-published {
	display: none;
    }
    .carousel-itemtitle {
	font-size: 17px;
	line-height: 26px;
	padding-bottom: 15px;
    }
    .carousel-excerpt {
        display: none;
    }
}

/* for mobile */
@media
only screen
and (max-device-width : 667px),
only screen
and (max-width : 667px) {
    .slick-slider {
        height: auto;
        margin-bottom: 60px !important;
    }
    .slick-dots {
        display:none;
    }
    .topnews_categorycontainer {
        display: none;
    }
    .topnews_category {
        background-size: 35px 35px;
        font-size: 16pt;
        width: 35px;
        height: 35px;
        padding-top: 15px;
    }
    .carousel-item {
	    width: 275px;
    	bottom: 0px;
    	left: 50%;
    	margin-left: -154.5px;
	    padding: 15px 15px 0;
    }
    .topnewsimage-wrap {
        height: 300px !important;
	    background-size: auto 250px;
    }
    .carousel-published {
        display: none;
    }
    .carousel-itemtitle {
        font-size: 17px;
        line-height: 26px;
        padding-bottom: 15px;
    }
    .carousel-itemsubtitle {
        font-size: 15px;
    }
    .carousel-excerpt {
        display: none;
    }
    .carousel-itemsubtitle {
        font-size: 14px;
        word-spacing: 14px;
        padding-top: 4px;
        padding-bottom: 4px;
}
}
