@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../../themes/common-variables.scss';
@import '../../../themes/media-queries.scss';

.effect-enter {
  opacity: 0.01;
}

.effect-enter.effect-enter-active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.effect-leave {
  opacity: 1;
}

.effect-leave.effect-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease;
}

.article-tools-container {
  display: none;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-487px, -50%); 
  color: $article-tools-text;
  font-size: $font-size-xsmall;
  a, a:visited, a:link, a:active {
    color: $article-tools-text;
    font-size: $font-size-xsmall;
  }
  
}

// desktop
@include mq($min-width: $screen-md-min) {
  .article-tools-container {
    display: inline-block;
  }
}

.icon-container {
  width: 100%;
  text-align: center;
  svg {
    width: 20px;
  }
}

.back-to-topic {
  span {
    display: block;
    margin-bottom: 10px;
    font-weight: $font-weight-medium;
  }
}
