@import '../../../themes/common-variables.scss';
@import '../../../themes/media-queries.scss';

.article-tools-container {
  display: inline-block;
  position: fixed;
  right: 5%;
  bottom: 3%;
  z-index: 999;
}

// desktop
@include mq($min-width: $screen-md-min) {
  .article-tools-container {
    display: none;
  }
}

.effect-enter {
  opacity: 0.01;
}

.effect-enter.effect-enter-active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.effect-leave {
  opacity: 1;
}

.effect-leave.effect-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease;
}
