/* @import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,devanagari); */

{
    box-sizing: border-box;
}
body {
        font-family: "Helvetica Neue", Helvetica, Arial, "Heiti TC", "Apple LiGothic Medium", "微軟正黑體", sans-serif;
        /* font-family: "Noto Sans", "微軟正黑體", arial , sans-serif ;*/
}
