// VARIABLE
$img-h: 114px; //image height
$img-w: 114px; //image width
$item-h: auto;
$item-w: 114px;

@mixin size ($h, $w) {
  height: $h;
  width: $w;
}

* {
  // border: 1px solid grey;
  box-sizing: border-box;
}

.authorImg {
  @include size($img-h,$img-w);
  border-radius: 50%;
}

.authorItem {
  @include size($item-h,$item-w);
  display: inline-block;
  vertical-align: top;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 60px;
}

.authorName {
  @include size(18px,100%);
  margin-top: 14px;
  color: #404040;
  line-height: 1;
  font-size: 18px;
  font-weight: 500;
  font-family: SourceHanSansTWHK;
  text-align: center;
}

.authorList {
  @include size(auto,663px);
  margin-left: auto;
  margin-right: auto;
	background-color: #f2f2f2;
}

.authorSearch {
  @include size(50px,300px);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.input-box:focus {
  @include size(100%,100%);
  background-color: black;
}

.loadMore {
  @include size(50px,150px);
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
