@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../themes/common-variables';
@import '../../themes/media-queries';
@import '../../themes/font-mixins';
@import '../../themes/animation';

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #1d1d1d, 1.8em -1.8em 0 0em rgba(29,29,29, 0.2), 2.5em 0em 0 0em rgba(29,29,29, 0.2), 1.75em 1.75em 0 0em rgba(29,29,29, 0.2), 0em 2.5em 0 0em rgba(29,29,29, 0.2), -1.8em 1.8em 0 0em rgba(29,29,29, 0.2), -2.6em 0em 0 0em rgba(29,29,29, 0.5), -1.8em -1.8em 0 0em rgba(29,29,29, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.7), 1.8em -1.8em 0 0em #1d1d1d, 2.5em 0em 0 0em rgba(29,29,29, 0.2), 1.75em 1.75em 0 0em rgba(29,29,29, 0.2), 0em 2.5em 0 0em rgba(29,29,29, 0.2), -1.8em 1.8em 0 0em rgba(29,29,29, 0.2), -2.6em 0em 0 0em rgba(29,29,29, 0.2), -1.8em -1.8em 0 0em rgba(29,29,29, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.5), 1.8em -1.8em 0 0em rgba(29,29,29, 0.7), 2.5em 0em 0 0em #1d1d1d, 1.75em 1.75em 0 0em rgba(29,29,29, 0.2), 0em 2.5em 0 0em rgba(29,29,29, 0.2), -1.8em 1.8em 0 0em rgba(29,29,29, 0.2), -2.6em 0em 0 0em rgba(29,29,29, 0.2), -1.8em -1.8em 0 0em rgba(29,29,29, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.2), 1.8em -1.8em 0 0em rgba(29,29,29, 0.5), 2.5em 0em 0 0em rgba(29,29,29, 0.7), 1.75em 1.75em 0 0em #1d1d1d, 0em 2.5em 0 0em rgba(29,29,29, 0.2), -1.8em 1.8em 0 0em rgba(29,29,29, 0.2), -2.6em 0em 0 0em rgba(29,29,29, 0.2), -1.8em -1.8em 0 0em rgba(29,29,29, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.2), 1.8em -1.8em 0 0em rgba(29,29,29, 0.2), 2.5em 0em 0 0em rgba(29,29,29, 0.5), 1.75em 1.75em 0 0em rgba(29,29,29, 0.7), 0em 2.5em 0 0em #1d1d1d, -1.8em 1.8em 0 0em rgba(29,29,29, 0.2), -2.6em 0em 0 0em rgba(29,29,29, 0.2), -1.8em -1.8em 0 0em rgba(29,29,29, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.2), 1.8em -1.8em 0 0em rgba(29,29,29, 0.2), 2.5em 0em 0 0em rgba(29,29,29, 0.2), 1.75em 1.75em 0 0em rgba(29,29,29, 0.5), 0em 2.5em 0 0em rgba(29,29,29, 0.7), -1.8em 1.8em 0 0em #1d1d1d, -2.6em 0em 0 0em rgba(29,29,29, 0.2), -1.8em -1.8em 0 0em rgba(29,29,29, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.2), 1.8em -1.8em 0 0em rgba(29,29,29, 0.2), 2.5em 0em 0 0em rgba(29,29,29, 0.2), 1.75em 1.75em 0 0em rgba(29,29,29, 0.2), 0em 2.5em 0 0em rgba(29,29,29, 0.5), -1.8em 1.8em 0 0em rgba(29,29,29, 0.7), -2.6em 0em 0 0em #1d1d1d, -1.8em -1.8em 0 0em rgba(29,29,29, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.2), 1.8em -1.8em 0 0em rgba(29,29,29, 0.2), 2.5em 0em 0 0em rgba(29,29,29, 0.2), 1.75em 1.75em 0 0em rgba(29,29,29, 0.2), 0em 2.5em 0 0em rgba(29,29,29, 0.2), -1.8em 1.8em 0 0em rgba(29,29,29, 0.5), -2.6em 0em 0 0em rgba(29,29,29, 0.7), -1.8em -1.8em 0 0em #1d1d1d;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #1d1d1d, 1.8em -1.8em 0 0em rgba(29,29,29, 0.2), 2.5em 0em 0 0em rgba(29,29,29, 0.2), 1.75em 1.75em 0 0em rgba(29,29,29, 0.2), 0em 2.5em 0 0em rgba(29,29,29, 0.2), -1.8em 1.8em 0 0em rgba(29,29,29, 0.2), -2.6em 0em 0 0em rgba(29,29,29, 0.5), -1.8em -1.8em 0 0em rgba(29,29,29, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.7), 1.8em -1.8em 0 0em #1d1d1d, 2.5em 0em 0 0em rgba(29,29,29, 0.2), 1.75em 1.75em 0 0em rgba(29,29,29, 0.2), 0em 2.5em 0 0em rgba(29,29,29, 0.2), -1.8em 1.8em 0 0em rgba(29,29,29, 0.2), -2.6em 0em 0 0em rgba(29,29,29, 0.2), -1.8em -1.8em 0 0em rgba(29,29,29, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.5), 1.8em -1.8em 0 0em rgba(29,29,29, 0.7), 2.5em 0em 0 0em #1d1d1d, 1.75em 1.75em 0 0em rgba(29,29,29, 0.2), 0em 2.5em 0 0em rgba(29,29,29, 0.2), -1.8em 1.8em 0 0em rgba(29,29,29, 0.2), -2.6em 0em 0 0em rgba(29,29,29, 0.2), -1.8em -1.8em 0 0em rgba(29,29,29, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.2), 1.8em -1.8em 0 0em rgba(29,29,29, 0.5), 2.5em 0em 0 0em rgba(29,29,29, 0.7), 1.75em 1.75em 0 0em #1d1d1d, 0em 2.5em 0 0em rgba(29,29,29, 0.2), -1.8em 1.8em 0 0em rgba(29,29,29, 0.2), -2.6em 0em 0 0em rgba(29,29,29, 0.2), -1.8em -1.8em 0 0em rgba(29,29,29, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.2), 1.8em -1.8em 0 0em rgba(29,29,29, 0.2), 2.5em 0em 0 0em rgba(29,29,29, 0.5), 1.75em 1.75em 0 0em rgba(29,29,29, 0.7), 0em 2.5em 0 0em #1d1d1d, -1.8em 1.8em 0 0em rgba(29,29,29, 0.2), -2.6em 0em 0 0em rgba(29,29,29, 0.2), -1.8em -1.8em 0 0em rgba(29,29,29, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.2), 1.8em -1.8em 0 0em rgba(29,29,29, 0.2), 2.5em 0em 0 0em rgba(29,29,29, 0.2), 1.75em 1.75em 0 0em rgba(29,29,29, 0.5), 0em 2.5em 0 0em rgba(29,29,29, 0.7), -1.8em 1.8em 0 0em #1d1d1d, -2.6em 0em 0 0em rgba(29,29,29, 0.2), -1.8em -1.8em 0 0em rgba(29,29,29, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.2), 1.8em -1.8em 0 0em rgba(29,29,29, 0.2), 2.5em 0em 0 0em rgba(29,29,29, 0.2), 1.75em 1.75em 0 0em rgba(29,29,29, 0.2), 0em 2.5em 0 0em rgba(29,29,29, 0.5), -1.8em 1.8em 0 0em rgba(29,29,29, 0.7), -2.6em 0em 0 0em #1d1d1d, -1.8em -1.8em 0 0em rgba(29,29,29, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(29,29,29, 0.2), 1.8em -1.8em 0 0em rgba(29,29,29, 0.2), 2.5em 0em 0 0em rgba(29,29,29, 0.2), 1.75em 1.75em 0 0em rgba(29,29,29, 0.2), 0em 2.5em 0 0em rgba(29,29,29, 0.2), -1.8em 1.8em 0 0em rgba(29,29,29, 0.5), -2.6em 0em 0 0em rgba(29,29,29, 0.7), -1.8em -1.8em 0 0em #1d1d1d;
  }
}

// Add border for all elements to check the layout:
// * {
//   border: 1px solid $gray-70;
// }

.author-list-container {
  background-color: $light-gray;
  text-align: center;
}

.shown-authors,
.author-item,
.author-img,
.author-name {
  box-sizing: border-box;
}

//==== MOBILE (& OVERALL) ====

.shown-authors {
  width: $authors-list-mobile-width;
  // overall setting below:
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.author-item {
  @include fade-in-down(.5s);
  width: $authors-item-mobile-width;
  // overall setting below:
  margin-left: $authors-list-columns-distance / 2;
  margin-right: $authors-list-columns-distance / 2;
  margin-bottom: $authors-list-rows-distance-mobile - $font-size-base;
  display: inline-block;
  vertical-align: top;

  .author-img {
    height: $authors-img-mobile-size;
    width: $authors-img-mobile-size;
    // overall setting below:
    border-radius: 50%;
  }

// overall setting below:
  .author-name {
    height: $font-size-base * 2;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
    margin-top: $authors-list-name-img-distance;
    color: $gray-25;
    line-height: 1;
    font-size: $font-size-base;
    font-weight: $authors-list-name-fontweight;
    font-family: SourceHanSansTWHK;
    text-align: center;
  }
}

.load-more {
  margin: 10px auto 40px;
  width: 10em;
  color: $primary-color;
  font-weight: $font-weight-bold;
  padding: .6rem 0;
  cursor: pointer;
  transition: all .2s;
  font-size: $font-size-medium;

  &:hover {
    transform: translateY(10%);
  }
}

.sensor {
  height: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.loader {
  margin: 20px auto;
  font-size: 5px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}


//==== TABLET ====
@include mq($min-width: $screen-sm-min, $max-width: $screen-sm-max) {
  .shown-authors {
    width: $authors-list-tablet-width;
  }

  .author-item {
    width: $authors-item-width;
    margin-bottom: $authors-list-rows-distance - $font-size-base;

    .author-img {
      height: $authors-img-size;
      width: $authors-img-size;
    }

    .shown-authors {
      width: $authors-list-tablet-width;
    }

  }
}

//==== DESKTOP & HD ====
@include mq($min-width: $screen-md-min) {
  .author-item:hover {
    .author-img {
      position: relative;
      top: -4px;
      left: -2px;
      box-shadow: 0 2px 10px 1px rgba(#B3B3B3, .7);
    }
  }

  .author-img {
    transition: all .2s;
  }
}

//==== DESKTOP ====
@include mq($min-width: $screen-md-min, $max-width: $screen-lg-max) {
  .shown-authors {
    width: $authors-list-desktop-width;
  }

  .author-item {
    width: $authors-item-width;
    margin-bottom: $authors-list-rows-distance - $font-size-base;

    .author-img {
      height: $authors-img-size;
      width: $authors-img-size;
    }

    .shown-authors {
      width: $authors-list-tablet-width;
    }
  }
}

//==== DESKTOP HD ====
@include mq($min-width: $screen-hd-min) {
  .shown-authors {
    width: $authors-list-desktop-hd-width;
  }

  .author-item {
    width: $authors-item-width;
    margin-bottom: $authors-list-rows-distance - $font-size-base;

    .author-img {
      height: $authors-img-size;
      width: $authors-img-size;
    }

    .shown-authors {
      width: $authors-list-tablet-width;
    }
  }
}
